@use "src/scss/vars" as v;

.case-footer {
  background: #242424;

  &-container {
    padding: v.dynamic-vw(1920, 45px) 0 v.dynamic-vw(1920, 25px) 0;
    margin-bottom: v.dynamic-vw(1920, 65px);
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 1921px) {
      margin-bottom: 65px;
      padding: 45px 0 25px 0;
    }
    &:before {
      content: "";
      width: 100%;
      height: v.dynamic-vw(1920, 1px);
      background: #FF585D;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &-title {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;

    span {
      &:nth-child(1) {
        color: #242424;
        font-size: v.dynamic-vw(1920, 80px);
        font-weight: 400;
        line-height: 1;
        font-family: v.$Helvetica;
        text-shadow: 1px 0 0 #FF585D, -1px 0 0 #FF585D, 0 1px 0 #FF585D, 0 -1px 0 #FF585D;
        margin-bottom: v.dynamic-vw(1920, 16px);
        filter: drop-shadow(0 0 2px #FF585D);
        @media (min-width: 1921px) {
          margin-bottom: 16px;
          font-size: 80px;
        }
      }

      &:nth-child(2) {
        color: #FFFFFF;
        font-family: v.$Helvetica;
        font-size: v.dynamic-vw(1920, 20px);
        font-weight: 500;
        line-height: 1.4;
        @media (min-width: 1921px) {
          font-size: 20px;
        }
      }
    }
  }

  &-left-side {
    .case-footer-nav {
      margin-left: v.dynamic-vw(1920, 79px);
    }
  }

  &-right-side {
    .case-footer-nav {
      transform: rotate(180deg);
      margin-right: v.dynamic-vw(1920, 79px);
    }
  }
}