@use "src/scss/vars" as v;

$easing1: cubic-bezier(0.65, 0, 0.35, 1);
$easing2: cubic-bezier (1, 0, 0.35, 1);

$activeEasing: $easing1;

.case-footer {
  position: relative;
  background: #242424;
  overflow: hidden;
  margin-bottom: v.dynamic-vw(1920, 65px);
  padding: v.dynamic-vw(1920, 73px) 0;
  @media (min-width: 1921px) {
    margin-bottom: 65px;
    padding: 73px 0;
  }

  &:before {
    content: "";
    width: 100%;
    height: v.dynamic-vw(1920, 1px);
    background: #FF585D;
    position: absolute;
    top: 0;
    left: 0;
  }

  &-container {
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
  }

}

.swiper {
  &-slide {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    transition: transform 650ms $activeEasing;

    span {
      transform-origin: top;

      &:nth-child(1) {
        transition: transform 700ms $activeEasing, text-shadow 700ms $activeEasing, opacity 700ms $activeEasing;
        opacity: 0;
        font-size: v.dynamic-vw(1920, 80px);
        margin-bottom: v.dynamic-vw(1920, 16px);
        text-shadow: unset;
        color: #242424;
        line-height: 1;
        font-weight: 400;
        font-family: v.$Helvetica;
        filter: drop-shadow(0 0 2px #FF585D);
        @media (min-width: 1921px) {
          font-size: 80px;
          margin-bottom: 16px;
        }
      }

      &:nth-child(2) {
        opacity: 0;
        color: #FFFFFF;
        font-family: v.$Helvetica;
        font-size: v.dynamic-vw(1920, 20px);
        font-weight: 500;
        line-height: 1.4;
        transition: opacity .3s ease-in-out;
        @media (min-width: 1921px) {
          font-size: 20px;
        }
      }
    }

    &-active {
      span {
        &:nth-child(1) {
          transform: scale(1);
          text-shadow: 1px 0 0 #FF585D, -1px 0 0 #FF585D, 0 1px 0 #FF585D, 0 -1px 0 #FF585D;
          opacity: 1;
        }

        &:nth-child(2) {
          opacity: 1;
          transition: opacity .8s ease-in-out .4s;
        }

      }
    }

    &-prev {
      pointer-events: none;
      transform: translateY(-20%) translateX(50%);
      opacity: 1;

      span {
        &:nth-child(1) {
          opacity: 1;
          transform: scale(2.4);
        }
      }
    }

    &-next {
      pointer-events: none;
      transform: translateY(-20%) translateX(-50%);
      opacity: 1;

      span {
        &:nth-child(1) {
          opacity: 1;
          transform: scale(2.4);
        }

      }

    }

  }

  &-wrapper {
    transition: transform 700ms $activeEasing;
    width: 500%;
  }

  &-button-prev {
    padding: v.dynamic-vw(1920, 5px);
    z-index: 10;
    position: absolute;
    top: 50%;
    left: v.dynamic-vw(1920, 79px);
    transition: transform .2s ease-in-out;
    @media (min-width: 1921px) {
      padding: 5px;
      left: 79px;
    }
    @media (hover: hover) {
      &:hover {
        transform: scale(1.2);
      }
    }

    &:active {
      transform: scale(1);
    }
  }

  &-button-next {
    padding: v.dynamic-vw(1920, 5px);
    z-index: 10;
    position: absolute;
    top: 50%;
    right: v.dynamic-vw(1920, 79px);
    transform: rotate(180deg);
    transition: transform .2s ease-in-out;
    @media (min-width: 1921px) {
      padding: 5px;
      right: 79px;
    }
    @media (hover: hover) {
      &:hover {
        transform: rotate(180deg) scale(1.2);
      }
    }

    &:active {
      transform: rotate(180deg) scale(1);
    }
  }
}





