@use "src/scss/vars" as v;

.stage {
  &__container {
    padding: 0 v.dynamic-vw(1920, 220px) v.dynamic-vw(1920, 177px) v.dynamic-vw(1920, 166px);
    overflow-x: hidden;
    @include v.tablet {
      padding: 0 v.dynamic-vw(1024, 40px) v.dynamic-vw(1024, 100px) v.dynamic-vw(1024, 40px);
    }
    @include v.mobile {
      padding: 0 v.dynamic-vw(375, 20px) v.dynamic-vw(375, 89px) v.dynamic-vw(375, 20px);
    }
  }

  &__title-block {
    position: relative;
    padding-bottom: v.dynamic-vw(1920, 180px);
    @include v.tablet {
      padding-bottom: v.dynamic-vw(1024, 64px);
    }
    @include v.mobile {
      padding-bottom: v.dynamic-vw(375, 56px);
    }
  }

  &__title {
    position: relative;
    font-family: v.$halvarRegular;
    line-height: 1;
    color: #ffffff;
    font-size: v.dynamic-vw(1920, 80px);
    margin-bottom: v.dynamic-vw(1920, 120px);
    font-weight: 500;
    @include v.tablet {
      margin-bottom: v.dynamic-vw(1024, 80px);
      font-size: v.dynamic-vw(1024, 60px);
    }
    @include v.mobile {
      margin-bottom: v.dynamic-vw(375, 64px);
      font-size: v.dynamic-vw(375, 32px);
    }
  }

  &__desc {
    position: relative;
    font-family: v.$ttCommons;
    font-size: v.dynamic-vw(1920, 22px);
    line-height: 1.3;
    color: #D6D6D6;
    max-width: v.dynamic-vw(1920, 751px);
    width: 100%;
    margin-left: v.dynamic-vw(1920, 200px);
    font-weight: 300;
    @include v.tablet {
      margin-left: v.dynamic-vw(1024, 87px);
      max-width: v.dynamic-vw(1024, 608px);
      font-size: v.dynamic-vw(1024, 22px);
    }
    @include v.mobile {
      margin-left: 0;
      max-width: unset;
      font-size: v.dynamic-vw(375, 22px);

    }
  }

  &__block {
    position: relative;
    padding-bottom: v.dynamic-vw(1920, 180px);
    @include v.tablet {
      padding-bottom: v.dynamic-vw(1024, 64px);
    }
    @include v.mobile {
      padding-bottom: v.dynamic-vw(375, 56px);
    }

    &_title {
      font-family: v.$halvarRegular;
      line-height: 1;
      font-size: v.dynamic-vw(1920, 32px);
      color: #ffffff;
      font-weight: 500;
      margin-bottom: v.dynamic-vw(1920, 80px);
      @include v.tablet {
        margin-bottom: v.dynamic-vw(1024, 56px);
        font-size: v.dynamic-vw(1024, 28px);
      }
      @include v.mobile {
        font-size: v.dynamic-vw(375, 24px);
        margin-bottom: v.dynamic-vw(375, 40px);
      }
    }

    &_desc-row {
      display: flex;
      flex-flow: nowrap row;
      align-items: flex-start;
      justify-content: space-between;
      max-width: v.dynamic-vw(1920, 1100px);
      width: 100%;
      @include v.tablet {
        max-width: v.dynamic-vw(1024, 855px);
      }
      @include v.mobile {
        max-width: unset;
        flex-flow: column nowrap;
        justify-content: unset;
      }
    }

    &_video {
      display: block;
      width: v.dynamic-vw(1920, 220px);
      height: v.dynamic-vw(1920, 220px);
      position: relative;
      @include v.tablet {
        width: v.dynamic-vw(1024, 180px);
        height: v.dynamic-vw(1024, 180px);
      }
      @include v.mobile {
        width: v.dynamic-vw(375, 180px);
        height: v.dynamic-vw(375, 180px);
        order: 1;
        margin-left: v.dynamic-vw(375, 155px);
        margin-bottom: v.dynamic-vw(375, 32px);
      }

      video {
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &_desc {
      max-width: v.dynamic-vw(1920, 680px);
      width: 100%;
      margin-left: v.dynamic-vw(1920, 200px);
      margin-bottom: v.dynamic-vw(1920, 104px);
      @include v.tablet {
        max-width: v.dynamic-vw(1024, 571px);
        margin-left: v.dynamic-vw(1024, 87px);
      }
      @include v.mobile {
        order: 2;
        margin-left: 0;
        max-width: v.dynamic-vw(375, 375px);
        margin-bottom: v.dynamic-vw(375, 56px);
      }

      p {
        font-family: v.$ttCommons;
        color: #D6D6D6;
        font-size: v.dynamic-vw(1920, 22px);
        font-weight: 300;
        line-height: 1.3;
        @include v.tablet {
          font-size: v.dynamic-vw(1024, 20px);
        }
        @include v.mobile {
          font-size: v.dynamic-vw(375, 20px);
        }

        &:first-child {
          color: #ffffff;
          font-size: v.dynamic-vw(1920, 30px);
          margin-bottom: v.dynamic-vw(1920, 24px);
          @include v.tablet {
            font-size: v.dynamic-vw(1024, 24px);
            margin-bottom: v.dynamic-vw(1024, 24px);
          }
          @include v.mobile {
            font-size: v.dynamic-vw(375, 22px);
            margin-bottom: v.dynamic-vw(375, 28px);
          }
        }
      }

    }

    &_tabl {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: start;
      margin-left: v.dynamic-vw(1920, 50px);
      max-width: v.dynamic-vw(1920, 1226px);
      width: 100%;
      padding-right: v.dynamic-vw(1920, 47px);
      padding-left: v.dynamic-vw(1920, 139px);
      @include v.tablet {
        padding-left: unset;
        padding-right: unset;
        margin-left: v.dynamic-vw(1024, 87px);
        max-width: v.dynamic-vw(1024, 857px);
      }
      @include v.mobile {
        display: block;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
        max-width: unset;
      }

      &:before {
        content: "";
        width: 100%;
        background-color: #ffffff;
        height: v.dynamic-vw(1920, 1px);
        opacity: 0.2;
        position: absolute;
        top: -20%;
        z-index: 2;
        left: 0;
        @include v.tablet {
          height: v.dynamic-vw(1024, 1px);
        }
      }

      p {
        margin-left: auto;
        margin-right: auto;
        font-size: v.dynamic-vw(1920, 18px);
        font-family: v.$ttCommons;
        font-weight: 400;
        line-height: 1.3;
        color: #ffffff;
        max-width: v.dynamic-vw(1920, 320px);
        width: 100%;
        &:not(:last-child) {
          @include v.mobile {
            margin-bottom: v.dynamic-vw(375, 28px);
          }
        }
        @include v.tablet {
          font-size: v.dynamic-vw(1024, 16px);
          max-width: v.dynamic-vw(1024, 261px);
        }
        @include v.mobile {
          max-width: unset;
          font-size: v.dynamic-vw(375, 16px);
        }
      }
    }
  }

  &__section {
    padding-left: v.dynamic-vw(1920, 200px);
    padding-right: v.dynamic-vw(1920, 54px);
    width: 100%;
    @include v.tablet {
      padding-left: v.dynamic-vw(1024, 87px);
      padding-right: 0;
    }
    @include v.mobile {
      padding-left: 0;
      padding-right: 0;
    }

    &_1 {
      .stage__section_title-block {
        max-width: v.dynamic-vw(1920, 700px);
        width: 100%;
        @include v.tablet {
          max-width: v.dynamic-vw(1024, 488px);
        }
      }
    }

    &_2 {
      position: relative;
    }

    &_3 {
      &_title-block {
        max-width: v.dynamic-vw(1920, 370px) !important;
        width: 100%;
        @include v.tablet {
          max-width: v.dynamic-vw(1024, 279px) !important;
        }
      }

      position: relative;

      &_img {
        width: 100%;
        margin-bottom: v.dynamic-vw(1920, 80px);
        @include v.tablet {
          margin-bottom: v.dynamic-vw(1024, 56px);
        }
      }

      .stage__section_text-string {
        p {
          &:first-child {
            max-width: v.dynamic-vw(1920, 450px);
            width: 100%;
            @include v.tablet {
              max-width: v.dynamic-vw(1024, 397px);
            }
          }
        }
      }
    }

    &_4 {
      position: relative;
      @include v.tablet {
      }

      .stage__section_title-block {
        margin-bottom: 0;
      }
    }

    &_content-row {
      &_1 {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: v.dynamic-vw(1920, 120px);
        @include v.tablet {
          margin-bottom: v.dynamic-vw(1024, 64.36px);
        }
      }

      &_2 {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: v.dynamic-vw(1920, 140px);
        padding-right: v.dynamic-vw(1920, 100px);
        @include v.tablet {
          margin-bottom: v.dynamic-vw(1024, 82px);
          padding-right: 0;
        }
      }

      &_3 {
        position: relative;
        margin-bottom: v.dynamic-vw(1920, 180px);
        @include v.tablet {
          margin-bottom: v.dynamic-vw(1024, 64px);
        }
      }

      &_5 {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
    }

    &_number {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 20%;
      left: 0;
      font-family: v.$ttCommons;
      font-weight: 300;
      font-size: v.dynamic-vw(1920, 20px);
      line-height: 1.2;
      color: #ffffff;
      text-align: center;
      @include v.tablet {
        font-size: v.dynamic-vw(1024, 24px);
        top: 15%;
      }
      @include v.mobile {
        font-size: v.dynamic-vw(375, 20px);
      }

      &-circle {
        position: relative;
        width: v.dynamic-vw(1920, 32px);
        height: v.dynamic-vw(1920, 32px);
        border-radius: 50%;
        border: #ffffff 1px solid;
        margin-bottom: v.dynamic-vw(1920, 8px);
        transform: translateX(v.dynamic-vw(1920, -40px));
        @include v.tablet {
          width: v.dynamic-vw(1024, 32px);
          height: v.dynamic-vw(1024, 32px);
          margin-bottom: v.dynamic-vw(1024, 24px);
          transform: translateX(v.dynamic-vw(1024, -40px));
        }
        @include v.mobile {
          transform: translateX(0);
          width: v.dynamic-vw(375, 32px);
          height: v.dynamic-vw(375, 32px);
          margin-bottom: v.dynamic-vw(375, 20px);
        }
      }
    }

    &_title-block {
      position: relative;
      margin-bottom: v.dynamic-vw(1920, 80px);
      @include v.tablet {
        margin-bottom: v.dynamic-vw(1024, 40px);
      }
    }

    &_title {
      font-family: v.$halvarRegular;
      font-size: v.dynamic-vw(1920, 24px);
      font-weight: 500;
      color: #ffffff;
      line-height: 1;
      margin-bottom: v.dynamic-vw(1920, 24px);
      @include v.tablet {
        font-size: v.dynamic-vw(1024, 22px);
        margin-bottom: v.dynamic-vw(1024, 16px);
      }
    }

    &_desc {
      font-family: v.$ttCommons;
      font-weight: 300;
      line-height: 1.3;
      font-size: v.dynamic-vw(1920, 24px);
      color: #ffffff;
      @include v.tablet {
        font-size: v.dynamic-vw(1024, 20px);
      }

      &-3 {
        font-size: v.dynamic-vw(1920, 22px);
      }
    }

    &_pic {
      &-1 {
        max-width: v.dynamic-vw(1920, 700px);
        max-height: v.dynamic-vw(1920, 368px);
        width: 100%;
        height: 100%;
        margin-bottom: v.dynamic-vw(1920, 40px);
        @include v.tablet {
          margin-bottom: v.dynamic-vw(1024, 20px);
          max-height: v.dynamic-vw(1024, 289px);
          max-width: v.dynamic-vw(1024, 550px);
        }
      }

      &-2 {
        max-width: v.dynamic-vw(1920, 294px);
        max-height: v.dynamic-vw(1920, 368px);
        width: 100%;
        height: 100%;
        @include v.tablet {
          max-height: v.dynamic-vw(1024, 289px);
          max-width: v.dynamic-vw(1024, 231px);
        }
      }

      &-3 {
        max-width: v.dynamic-vw(1920, 700px);
        max-height: v.dynamic-vw(1920, 368px);
        width: 100%;
        height: 100%;
        @include v.tablet {
          margin-bottom: v.dynamic-vw(1024, 20px);
          max-height: v.dynamic-vw(1024, 289px);
          max-width: v.dynamic-vw(1024, 550px);
        }
      }

      &-4 {
        max-width: v.dynamic-vw(1920, 294px);
        max-height: v.dynamic-vw(1920, 368px);
        width: 100%;
        height: 100%;
        @include v.tablet {
          max-height: v.dynamic-vw(1024, 289px);
          max-width: v.dynamic-vw(1024, 231px);
        }
      }

      &-block {
        padding-right: v.dynamic-vw(1920, 206px);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: v.dynamic-vw(1920, 140px);
        @include v.tablet {
          padding-right: v.dynamic-vw(1024, 2px);
          margin-bottom: v.dynamic-vw(1024, 64px);
        }
      }
    }

    &_text {
      &-string {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        margin-bottom: v.dynamic-vw(1920, 49px);
        @include v.tablet {
          margin-bottom: v.dynamic-vw(1024, 40px);
        }

        p {
          font-family: v.$ttCommons;
          font-weight: 300;
          line-height: 1.3;
          color: #ffffff;
          font-size: v.dynamic-vw(1920, 24px);
          max-width: v.dynamic-vw(1920, 600px);
          width: 100%;
          @include v.tablet {
            font-size: v.dynamic-vw(1024, 22px);
            max-width: v.dynamic-vw(1024, 406px);
          }
        }
      }

      &-block {
        max-width: v.dynamic-vw(1920, 600px);
        width: 100%;
        padding-bottom: v.dynamic-vw(1920, 140px);
        @include v.tablet {
          padding-bottom: v.dynamic-vw(1024, 64px);
          max-width: v.dynamic-vw(1024, 450px);
        }

        p {
          font-family: v.$ttCommons;
          font-weight: 300;
          line-height: 1.3;
          color: #ffffff;
          font-size: v.dynamic-vw(1920, 24px);
          @include v.tablet {
            font-size: v.dynamic-vw(1024, 22px);
          }

          &:first-child {
            margin-bottom: v.dynamic-vw(1920, 24px);
            @include v.tablet {
              margin-bottom: v.dynamic-vw(1024, 24px);
            }
          }
        }
      }
    }
  }
}

.circle {
  &_white {
    stroke: #ffffff;
    stroke-width: v.dynamic-vw(1920, 4px);
    transition: stroke-dashoffset 0.4s linear;
    opacity: 0.3;
  }
}

.progress__svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  stroke: #FF3D54;
  pointer-events: none;
  z-index: 3;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.den4ik-button {
  opacity: 1;
  transition: .2s ease-in-out;
  position: absolute;
  top: 40%;
  left: 45%;
  width: v.dynamic-vw(1920, 39px);
  height: v.dynamic-vw(1920, 50px);
  z-index: 10;

  &_hidden {
    opacity: 0;
  }
}

.row_1 {
  &_left-block {
    max-width: v.dynamic-vw(1920, 448px);
    width: 100%;
    @include v.tablet {
      max-width: v.dynamic-vw(1024, 448px);
    }

    p {
      font-size: v.dynamic-vw(1920, 22px);
      font-weight: 300;
      font-family: v.$ttCommons;
      color: #D6D6D6;
      line-height: 1.3;
      @include v.tablet {
        font-size: v.dynamic-vw(1024, 22px);
      }

      &:first-child {
        margin-bottom: v.dynamic-vw(1920, 40px);
        @include v.tablet {
          margin-bottom: v.dynamic-vw(1024, 32px);
        }
      }
    }
  }

  &_right-block {
    max-width: v.dynamic-vw(1920, 375px);
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    @include v.tablet {
      max-width: v.dynamic-vw(1024, 306px);
    }

    p {
      font-size: v.dynamic-vw(1920, 18px);
      font-weight: 300;
      font-family: v.$ttCommons;
      color: #ACACAC;
      line-height: 1.3;
      margin-bottom: v.dynamic-vw(1920, 40px);
      @include v.tablet {
        font-size: v.dynamic-vw(1024, 16px);
        margin-bottom: v.dynamic-vw(1024, 35px);
      }
    }

    &_img {
      border-radius: v.dynamic-vw(1920, 16px);
      width: v.dynamic-vw(1920, 375px);
      height: v.dynamic-vw(1920, 377px);
      box-shadow: 0 0 80px rgba(239, 46, 68, 0.2);
      @include v.tablet {
        width: v.dynamic-vw(1024, 308px);
        height: v.dynamic-vw(1024, 309px);
        border-radius: v.dynamic-vw(1024, 16px);
        box-shadow: 0 0 65.7067px rgba(239, 46, 68, 0.2);
      }
    }
  }
}

.row_2 {
  &_left-block {
    max-width: v.dynamic-vw(1920, 524px);
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    @include v.tablet {
      max-width: v.dynamic-vw(1024, 450px);
    }

    p {
      font-weight: 300;
      font-family: v.$ttCommons;
      color: #ffffff;
      font-size: v.dynamic-vw(1920, 24px);
      line-height: 1.3;
      margin-bottom: v.dynamic-vw(1920, 40px);
      @include v.tablet {
        font-size: v.dynamic-vw(1024, 20px);
        margin-bottom: v.dynamic-vw(1024, 40px);
      }
    }

    img {
      width: v.dynamic-vw(1920, 456px);
      height: v.dynamic-vw(1920, 294px);
      @include v.tablet {
        height: v.dynamic-vw(1024, 290px);
        width: v.dynamic-vw(1024, 450px);
      }
    }
  }

  &_right-block {
    max-width: v.dynamic-vw(1920, 501px);
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    @include v.tablet {
      max-width: v.dynamic-vw(1024, 307px);
    }

    p {
      font-weight: 300;
      font-family: v.$ttCommons;
      color: #ffffff;
      font-size: v.dynamic-vw(1920, 24px);
      line-height: 1.3;
      margin-bottom: v.dynamic-vw(1920, 40px);
      @include v.tablet {
        font-size: v.dynamic-vw(1024, 20px);
        margin-bottom: v.dynamic-vw(1024, 40px);
      }
    }

    &_img {
      width: v.dynamic-vw(1920, 294px);
      height: v.dynamic-vw(1920, 368px);
      @include v.tablet {
        height: v.dynamic-vw(1024, 384px);
        width: v.dynamic-vw(1024, 307px);
      }
    }
  }
}

.row_3 {
  &_title {
    color: #ffffff;
    margin-bottom: v.dynamic-vw(1920, 80px);
    font-size: v.dynamic-vw(1920, 60px);
    line-height: 1.2;
    @include v.tablet {
      margin-bottom: v.dynamic-vw(1024, 64px);
      font-size: v.dynamic-vw(1024, 48px);
    }

    span {
      &:first-child {
        font-family: v.$halvarRegular;
        font-weight: 500;
      }

      &:last-child {
        font-family: v.$apocLC;
        font-weight: 400;
        font-style: italic;
      }
    }
  }

  &_photos {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    img {
      width: v.dynamic-vw(1920, 600px);
      @include v.tablet {
        width: v.dynamic-vw(1024, 402px);
      }
    }
  }
}

.row_4 {
  &_title-block {
    max-width: v.dynamic-vw(1920, 670px);
    width: 100%;
    margin-bottom: v.dynamic-vw(1920, 80px);
    @include v.tablet {
      max-width: v.dynamic-vw(1024, 649px);
      margin-bottom: v.dynamic-vw(1024, 40px);
    }
  }

  &_title {
    margin-bottom: v.dynamic-vw(1920, 16px);
    font-weight: 500;
    font-family: v.$halvarRegular;
    font-size: v.dynamic-vw(1920, 20px);
    line-height: 1;
    color: #ffffff;
    @include v.tablet {
      margin-bottom: v.dynamic-vw(1024, 16px);
      font-size: v.dynamic-vw(1024, 20px);
    }
  }

  &_desc {
    p {
      font-weight: 300;
      font-size: v.dynamic-vw(1920, 24px);
      line-height: 1.3;
      color: #ffffff;
      font-family: v.$ttCommons;
      @include v.tablet {
        font-size: v.dynamic-vw(1024, 22px);
      }

      &:first-child {
        margin-bottom: v.dynamic-vw(1920, 16px);
        color: #ACACAC;
        font-size: v.dynamic-vw(1920, 18px);
        @include v.tablet {
          font-size: v.dynamic-vw(1024, 16px);
          margin-bottom: v.dynamic-vw(1024, 16px);
        }
      }
    }

    &_2 {
      p {
        font-weight: 300;
        font-size: v.dynamic-vw(1920, 24px);
        line-height: 1.3;
        color: #ffffff;
        font-family: v.$ttCommons;
        margin-bottom: v.dynamic-vw(1920, 80px);
        width: v.dynamic-vw(1920, 640px);
        @include v.tablet {
          width: v.dynamic-vw(1024, 651px);
          margin-bottom: v.dynamic-vw(1024, 40px);
          font-size: v.dynamic-vw(1024, 22px);
        }
      }
    }
  }

  &_img {
    width: v.dynamic-vw(1920, 1280px);
    margin-bottom: v.dynamic-vw(1920, 120px);
    @include v.tablet {
      margin-bottom: v.dynamic-vw(1024, 64px);
      width: v.dynamic-vw(1024, 857px);
    }
  }
}

.row_5 {
  &_block {
    max-width: v.dynamic-vw(1920, 600px);
    width: 100%;
    &:nth-child(2) {
      p {
        max-width: v.dynamic-vw(1024, 275px);
      }
    }
    @include v.tablet {
      max-width: unset;
    }

    p {
      max-width: v.dynamic-vw(1920, 520px);
      width: 100%;
      color: #ffffff;
      font-weight: 300;
      font-size: v.dynamic-vw(1920, 24px);
      font-family: v.$ttCommons;
      line-height: 1.3;
      margin-bottom: v.dynamic-vw(1920, 40px);
      &:nth-child(2) {
        @include v.tablet {
          max-width: v.dynamic-vw(1024, 275px);
        }
      }
      @include v.tablet {
        max-width: v.dynamic-vw(1024, 354px);
        margin-bottom: v.dynamic-vw(1024, 40px);
        font-size: v.dynamic-vw(1024, 20px);
      }
    }

    img {
      width: v.dynamic-vw(1920, 600px);
      @include v.tablet {
        width: v.dynamic-vw(1024, 407px);
      }
    }
  }
}

.body__blur {
  &_1 {
    position: absolute;
    top: -100%;
    left: 30%;
    width: 100%;
    z-index: 2;
    pointer-events: none;
  }

  &_2 {
    position: absolute;
    top: -50%;
    left: -12%;
    width: 100%;
    pointer-events: none;
  }

  &_3 {
    position: absolute;
    top: -50%;
    left: 40%;
    width: 100%;
    pointer-events: none;
  }

  &_4 {
    position: absolute;
    top: -30%;
    left: -30%;
    width: 100%;
    pointer-events: none;
  }

}

.sanya-pravo {
  transform: rotateY(180deg);
}

.parties {
  &__container {
    padding-right: v.dynamic-vw(1920, 60px);
    padding-bottom: v.dynamic-vw(1920, 270px);
    @include v.tablet {
      padding-bottom: v.dynamic-vw(1024, 80px);
      padding-right: 0;
    }
  }

  &__line {
    padding: v.dynamic-vw(1920, 86.12px) v.dynamic-vw(1920, 21.46px) v.dynamic-vw(1920, 58.31px) v.dynamic-vw(1920, 21.46px);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &:nth-child(3) {
      .parties__date {
        color: #FF3D54;
      }

      .parties__name {
        color: #FF3D54;
      }

      margin-bottom: v.dynamic-vw(1920, 71.77px);
    }

    &:first-child {
      &:after {
        content: "";
        max-width: v.dynamic-vw(1920, 1480px);
        width: 100%;
        background-color: #ffffff;
        height: v.dynamic-vw(1920, 1px);
        opacity: 0.2;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
      }
    }

    &:before {
      content: "";
      max-width: v.dynamic-vw(1920, 1480px);
      width: 100%;
      background-color: #ffffff;
      height: v.dynamic-vw(1920, 1px);
      opacity: 0.2;
      position: absolute;
      z-index: 2;
      left: 0;
      top: 100%;
    }
  }

  &__date {
    font-family: v.$halvarRegular;
    color: #ffffff;
    line-height: 1;
    font-weight: 400;
    font-size: v.dynamic-vw(1920, 35.88px);
    @include v.tablet {
      font-size: v.dynamic-vw(1024, 32px);
    }

  }

  &__name {
    font-family: v.$badRussian;
    font-size: v.dynamic-vw(1920, 71.77px);
    font-weight: 400;
    line-height: 1.3;
    color: #ffffff;
    @include v.tablet {
      font-size: v.dynamic-vw(1024, 48px);
    }
  }

  &__about {
    font-weight: 500;
    font-family: v.$halvarRegular;
    line-height: 1.2;
    color: #ffffff;
    font-size: v.dynamic-vw(1920, 16.15px);
    @include v.tablet {
      font-size: v.dynamic-vw(1024, 16px);
    }

    svg {
      width: v.dynamic-vw(1920, 10.09px);
      height: v.dynamic-vw(1920, 10.09px);
      @include v.tablet {
        width: v.dynamic-vw(1024, 11.25px);
        height: v.dynamic-vw(1024, 11.25px);
      }
    }

    &:nth-child(4) {
      margin-left: v.dynamic-vw(1920, 120px);
    }
  }
}

.content__block {
  &_title {
    font-weight: 500;
    line-height: 1;
    font-family: v.$halvarRegular;
    font-size: v.dynamic-vw(1920, 20px);
    color: #ffffff;
    margin-bottom: v.dynamic-vw(1920, 16px);
    @include v.tablet {
      font-size: v.dynamic-vw(1024, 20px);
      margin-bottom: v.dynamic-vw(1024, 16px);
    }
  }

  &_desc {
    font-family: v.$ttCommons;
    color: #ffffff;
    font-weight: 300;
    line-height: 1.3;
    font-size: v.dynamic-vw(1920, 24px);
    max-width: v.dynamic-vw(1920, 490px);
    width: 100%;
    margin-bottom: v.dynamic-vw(1920, 111px);
    @include v.tablet {
      font-size: v.dynamic-vw(1024, 18px);
      margin-bottom: v.dynamic-vw(1024, 157px);
      max-width: v.dynamic-vw(1024, 339px);
      padding-right: v.dynamic-vw(1024, 18px);
    }
  }

  &_video {
    max-height: v.dynamic-vw(1920, 800px);
    max-width: v.dynamic-vw(1920, 800px);
    height: 100%;
    width: 100%;
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;

    video {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &_paragraphs {
    max-width: v.dynamic-vw(1920, 316px);
    width: 100%;
    @include v.tablet {
      max-width: v.dynamic-vw(1024, 289px);
    }

    p {
      font-weight: 300;
      line-height: 1.3;
      font-family: v.$ttCommons;
      font-size: v.dynamic-vw(1920, 18px);
      color: #ACACAC;
      @include v.tablet {
        font-size: v.dynamic-vw(1024, 16px);
      }

      &:not(:last-child) {
        margin-bottom: v.dynamic-vw(1920, 16px);
        @include v.tablet {
          margin-bottom: v.dynamic-vw(1024, 16px);
        }
      }
    }
  }

  &_text {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: v.dynamic-vw(1920, 27px);
    @include v.tablet {
      margin-bottom: v.dynamic-vw(1024, 132px);
    }
  }

  &_2 {
    &_bottom {
      margin-left: v.dynamic-vw(1920, 597px);
      max-width: v.dynamic-vw(1920, 683px);
      margin-bottom: v.dynamic-vw(1920, 141px);
      width: 100%;
      @include v.tablet {
        margin-left: v.dynamic-vw(1024, 450px);
        max-width: v.dynamic-vw(1024, 407px);
        margin-bottom: v.dynamic-vw(1024, 80px);
      }

      p {
        &:first-child {
          margin-bottom: v.dynamic-vw(1920, 16px);
          font-weight: 300;
          line-height: 1.3;
          font-size: v.dynamic-vw(1920, 24px);
          color: #ffffff;
          font-family: v.$ttCommons;
          @include v.tablet {
            margin-bottom: v.dynamic-vw(1024, 16px);
            font-size: v.dynamic-vw(1024, 22px);
          }
        }

        &:last-child {
          color: #D6D6D6;
          font-family: v.$ttCommons;
          font-weight: 300;
          font-size: v.dynamic-vw(1920, 22px);
          line-height: 1.3;
          @include v.tablet {
            font-size: v.dynamic-vw(1024, 16px);
          }
        }

      }
    }
  }

  &_svg-text {
    position: relative;
    width: v.dynamic-vw(1920, 1100px);
    height: v.dynamic-vw(1920, 248px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: v.dynamic-vw(1920, 230px);
    @include v.tablet {
      margin-bottom: v.dynamic-vw(1024, 177px);
      height: v.dynamic-vw(1024, 203px);
      width: v.dynamic-vw(1024, 629px);
    }
  }

  &_girls-cursor {
    position: absolute;
    top: -54%;
    left: -30%;
    width: v.dynamic-vw(1920, 1920px);
    height: v.dynamic-vw(1920, 1080px);
    @include v.tablet {
      height: v.dynamic-vw(1024, 1366px);
      width: v.dynamic-vw(1024, 1024px);
      top: -112%;
      left: -15%;
    }
  }

  &_cursor-container {
    position: relative;
    width: 100%;
    height: v.dynamic-vw(1920, 500px);
    overflow: visible;
    @include v.tablet {
      height: v.dynamic-vw(1024, 467px);
    }
    @media (max-width: 525px) {
      overflow: hidden;
    }
  }
}

.process {
  .stage__block_title {
    margin-bottom: v.dynamic-vw(1920, 52px);
  }
}

#hero-svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  overflow: visible;
  pointer-events: none;
  opacity: 0;
  max-width: 1920px;
  @include v.tablet {
    transform-origin: 15% center;
    transform: scale(1.5);
    left: 0;
    max-width: v.dynamic-vw(1024, 629px);
  }
  &.active {
    opacity: 1;
  }

  #hero-text-inner1, #hero-text-inner2 {
    font-family: $badRussian;
    font-style: normal;
    font-weight: normal;
    font-size: 180px;
    line-height: 1.3;
    text-transform: uppercase;
    font-feature-settings: 'salt' on;
    fill: white;
  }
}

.trail-block {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  width: 320px;
  height: 450px;
  opacity: 0;
  transition: transform 96ms linear, opacity 96ms linear;
  z-index: 0;

  @media (max-width: 1919px) {
    width: dynamic-vw(1920, 320px);
    height: dynamic-vw(1920, 450px);
  }
  @media (max-width: 1024px) {
    width: dynamic-vw(1024, 520px);
    height: dynamic-vw(1024, 650px);
  }
  @media (max-width: 525px) {
    width: dynamic-vw(375, 255px);
    height: dynamic-vw(375, 358px);
  }

  &:last-of-type {
    width: 322px;
    height: 452px;
    @media (max-width: 1919px) {
      width: dynamic-vw(1920, 322px);
      height: dynamic-vw(1920, 452px);
    }
    @media (max-width: 1024px) {
      width: dynamic-vw(1024, 520px);
      height: dynamic-vw(1024, 650px);
    }
    @media (max-width: 525px) {
      width: dynamic-vw(375, 255px);
      height: dynamic-vw(375, 358px);
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
}

#hero-path1 {
  max-width: v.dynamic-vw(1024, 629px);
}

#hero-path2 {
  @include v.tablet {
    max-width: v.dynamic-vw(1024, 629px);
  }
}

















