@use "src/scss/vars" as v;

.stage {
  &__container {
    padding: 0 v.dynamic-vw(1920, 100px) v.dynamic-vw(1920, 100px) v.dynamic-vw(1920, 100px);
    overflow-x: hidden;
    //@media (min-width: 1921px) {
    //  padding: 0 100px 177px 100px;
    //}
    @include v.tablet {
      padding: 0 v.dynamic-vw(1024, 40px) v.dynamic-vw(1024, 100px) v.dynamic-vw(1024, 40px);
    }
    @include v.mobile {
      padding: 0 v.dynamic-vw(375, 20px) v.dynamic-vw(375, 89px) v.dynamic-vw(375, 20px);
    }
  }

  &__title-block {
    position: relative;
    margin-bottom: v.dynamic-vw(1920, 100px);
    //@media (min-width: 1921px) {
    //  margin-bottom: 100px;
    //}
    @include v.tablet {
      margin-bottom: v.dynamic-vw(1024, 64px);
    }
    @include v.mobile {
      margin-bottom: v.dynamic-vw(375, 40px);
      width: 100%;
    }
  }

  &__title {
    position: relative;
    font-family: v.$halvarRegular;
    line-height: 1;
    color: #ffffff;
    font-size: v.dynamic-vw(1920, 80px);
    margin-bottom: v.dynamic-vw(1920, 80px);
    font-weight: 500;
    //@media (min-width: 1921px) {
    //  margin-bottom: 80px;
    //  font-size: 80px;
    //}
    @include v.tablet {
      margin-bottom: v.dynamic-vw(1024, 80px);
      font-size: v.dynamic-vw(1024, 60px);
    }
    @include v.mobile {
      margin-bottom: v.dynamic-vw(375, 42px);
      font-size: v.dynamic-vw(375, 32px);
    }
  }

  &__desc {
    position: relative;
    font-family: v.$ttCommons;
    font-size: v.dynamic-vw(1920, 22px);
    line-height: 1.3;
    color: #D6D6D6;
    max-width: v.dynamic-vw(1920, 751px);
    width: 100%;
    margin-left: v.dynamic-vw(1920, 160px);
    font-weight: 300;
    //@media (min-width: 1921px) {
    //  margin-left: 160px;
    //  min-width: 751px;
    //  font-size: 22px;
    //}
    @include v.tablet {
      margin-left: v.dynamic-vw(1024, 87px);
      max-width: v.dynamic-vw(1024, 608px);
      font-size: v.dynamic-vw(1024, 22px);
    }
    @include v.mobile {
      margin-left: 0;
      max-width: unset;
      font-size: v.dynamic-vw(375, 22px);

    }
  }

  &__block {
    position: relative;
    padding-bottom: v.dynamic-vw(1920, 100px);
    //@media (min-width: 1921px) {
    //  padding-bottom: 100px;
    //}
    @include v.tablet {
      padding-bottom: v.dynamic-vw(1024, 64px);
      width: 100%;
    }
    @include v.mobile {
      padding-bottom: v.dynamic-vw(375, 56px);
    }

    &_title {
      font-family: v.$halvarRegular;
      line-height: 1;
      font-size: v.dynamic-vw(1920, 32px);
      color: #ffffff;
      font-weight: 500;
      margin-bottom: v.dynamic-vw(1920, 80px);
      //@media (min-width: 1921px) {
      //  margin-bottom: 80px;
      //  font-size: 32px;
      //}
      @include v.tablet {
        margin-bottom: v.dynamic-vw(1024, 56px);
        font-size: v.dynamic-vw(1024, 28px);
      }
      @include v.mobile {
        font-size: v.dynamic-vw(375, 24px);
        margin-bottom: v.dynamic-vw(375, 40px);
      }
    }

    &_desc-row {
      display: flex;
      flex-flow: nowrap row;
      align-items: flex-start;
      justify-content: space-between;
      padding-left: v.dynamic-vw(1920, 160px);
      padding-right: v.dynamic-vw(1920, 307px);
      width: 100%;
      //@media (min-width: 1921px) {
      //  padding-left: 160px;
      //  padding-right: 307px;
      //}
      @include v.tablet {
        padding-left: v.dynamic-vw(1024, 90px);
        padding-right: 0;
        justify-content: space-between;
      }
      @include v.mobile {
        padding-left: 0;
        padding-right: 0;
        max-width: unset;
        flex-flow: column nowrap;
        justify-content: unset;
      }
    }

    &_video {
      display: block;
      width: v.dynamic-vw(1920, 220px);
      height: v.dynamic-vw(1920, 220px);
      position: relative;
      z-index: 9999;
      top: 0;
      right: 0;
      transition: right .3s ease-in-out;

      &.fixed {
        transition: right .4s ease-in-out;
        position: fixed;
        top: 100px;
        right: 100px;
      }

      &-wrapper {
        display: block;
        width: v.dynamic-vw(1920, 220px);
        height: v.dynamic-vw(1920, 220px);
        @include v.tablet {
          width: v.dynamic-vw(1024, 180px);
          height: v.dynamic-vw(1024, 180px);
        }
        @include v.mobile {
          width: v.dynamic-vw(375, 180px);
          height: v.dynamic-vw(375, 180px);
          order: 1;
          margin-left: 0;
          margin-bottom: v.dynamic-vw(375, 32px);
        }
      }

      @include v.tablet {
        width: v.dynamic-vw(1024, 180px);
        height: v.dynamic-vw(1024, 180px);
      }
      @include v.mobile {
        width: v.dynamic-vw(375, 180px);
        height: v.dynamic-vw(375, 180px);
        order: 1;
        margin-left: 0;
        margin-bottom: v.dynamic-vw(375, 32px);
      }

      video {
        transition: transform .2s ease-in-out .1s;
        border-radius: 50%;
        display: block;
        position: absolute;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &_desc {
      max-width: v.dynamic-vw(1920, 680px);
      width: 100%;
      margin-bottom: v.dynamic-vw(1920, 104px);
      //@media (min-width: 1921px) {
      //  margin-bottom: 104px;
      //  min-width: 680px;
      //}
      @include v.tablet {
        max-width: v.dynamic-vw(1024, 571px);
      }
      @include v.mobile {
        order: 2;
        margin-left: 0;
        max-width: v.dynamic-vw(375, 375px);
        margin-bottom: v.dynamic-vw(375, 56px);
      }

      p {
        font-family: v.$ttCommons;
        color: #D6D6D6;
        font-size: v.dynamic-vw(1920, 22px);
        font-weight: 300;
        line-height: 1.3;
        //@media (min-width: 1921px) {
        //  font-size: 22px;
        //}
        @include v.tablet {
          font-size: v.dynamic-vw(1024, 20px);
        }
        @include v.mobile {
          font-size: v.dynamic-vw(375, 20px);
        }

        &:first-child {
          color: #ffffff;
          font-size: v.dynamic-vw(1920, 30px);
          margin-bottom: v.dynamic-vw(1920, 24px);
          //@media (min-width: 1921px) {
          //  margin-bottom: 24px;
          //  font-size: 30px;
          //}
          @include v.tablet {
            font-size: v.dynamic-vw(1024, 24px);
            margin-bottom: v.dynamic-vw(1024, 24px);
          }
          @include v.mobile {
            font-size: v.dynamic-vw(375, 22px);
            margin-bottom: v.dynamic-vw(375, 28px);
          }
        }
      }

    }

    &_tabl {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      margin-left: v.dynamic-vw(1920, 160px);
      margin-right: v.dynamic-vw(1920, 406px);
      //@media (min-width: 1921px) {
      //  margin-left: 160px;
      //  margin-right: 406px;
      //}
      @include v.tablet {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        max-width: v.dynamic-vw(1024, 857px);
        margin-left: v.dynamic-vw(1024, 90px);
      }
      @include v.mobile {
        display: block;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
        max-width: unset;
      }

      &:before {
        content: "";
        width: 100%;
        background-color: #ffffff;
        height: v.dynamic-vw(1920, 1px);
        opacity: 0.2;
        position: absolute;
        top: -20%;
        z-index: 2;
        left: 0;
        @media (min-width: 1921px) {
          height: 1px;
        }
        @include v.tablet {
          height: v.dynamic-vw(1024, 1px);
        }
        @include v.mobile {
          top: -15%;
        }
      }

      p {
        font-size: v.dynamic-vw(1920, 18px);
        font-family: v.$ttCommons;
        font-weight: 400;
        line-height: 1.3;
        color: #ffffff;
        max-width: v.dynamic-vw(1920, 320px);
        width: 100%;
        //@media (min-width: 1921px) {
        //  min-width: 320px;
        //  font-size: 18px;
        //}

        &:not(:last-child) {
          margin-right: auto;
          @include v.mobile {
            margin-bottom: v.dynamic-vw(375, 28px);
          }
        }

        @include v.tablet {
          font-size: v.dynamic-vw(1024, 16px);
          max-width: v.dynamic-vw(1024, 261px);
          margin-left: unset;
          margin-right: unset;
        }
        @include v.mobile {
          max-width: unset;
          font-size: v.dynamic-vw(375, 16px);
        }
      }
    }
  }

  &__section {
    padding-left: v.dynamic-vw(1920, 160px);
    padding-right: v.dynamic-vw(1920, 120px);
    width: 100%;
    //@media (min-width: 1921px) {
    //  padding-left: 160px;
    //  padding-right: 120px;
    //}
    @include v.tablet {
      padding-left: v.dynamic-vw(1024, 87px);
      padding-right: 0;
    }
    @include v.mobile {
      padding-left: 0;
      padding-right: 0;
    }

    &_1 {
      .stage__section_title-block {
        max-width: v.dynamic-vw(1920, 700px);
        width: 100%;
        //@media (min-width: 1921px) {
        //  min-width: 700px;
        //}
        @include v.tablet {
          max-width: v.dynamic-vw(1024, 488px);
        }
        @include v.mobile {
          max-width: unset;
        }
      }
    }

    &_2 {
      position: relative;
    }

    &_3 {
      &_title-block {
        width: 100%;
        @include v.mobile {
          max-width: unset;
        }
      }

      position: relative;

      &_img {
        width: 100%;
        margin-bottom: v.dynamic-vw(1920, 60px);
        //@media (min-width: 1921px) {
        //  margin-bottom: 60px;
        //}
        @include v.tablet {
          margin-bottom: v.dynamic-vw(1024, 56px);
        }
        @include v.mobile {
          margin-bottom: v.dynamic-vw(375, 40px);
        }
      }

      .stage__section_text-string {
        p {
          &:first-child {
            max-width: v.dynamic-vw(1920, 450px);
            width: 100%;
            //@media (min-width: 1921px) {
            //  min-width: 450px;
            //}
            @include v.tablet {
              max-width: v.dynamic-vw(1024, 397px);
            }
            @include v.mobile {
              max-width: unset;
            }
          }
        }
      }
    }

    &_4 {
      position: relative;

      .stage__section_pic-text-row {
        z-index: unset;
      }

      .stage__section_title-block {
        margin-bottom: 0;
      }
    }

    &_content-row {
      &_1 {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: v.dynamic-vw(1920, 100px);
        //@media (min-width: 1921px) {
        //  margin-bottom: 100px;
        //}
        @include v.tablet {
          margin-bottom: v.dynamic-vw(1024, 64.36px);
        }
        @include v.mobile {
          flex-flow: column nowrap;
          margin-bottom: v.dynamic-vw(375, 56.21px);
        }
      }

      &_2 {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: v.dynamic-vw(1920, 150px);
        padding-right: v.dynamic-vw(1920, 197px);
        //@media (min-width: 1921px) {
        //  padding-right: 197px;
        //  margin-bottom: 150px;
        //}
        @include v.tablet {
          margin-bottom: v.dynamic-vw(1024, 82px);
          padding-right: 0;
        }
        @include v.mobile {
          flex-flow: column nowrap;
          margin-bottom: v.dynamic-vw(375, 63px);
          padding-left: 0;
        }
      }

      &_3 {
        position: relative;
        margin-bottom: v.dynamic-vw(1920, 150px);
        //@media (min-width: 1921px) {
        //  margin-bottom: 150px;
        //}
        @include v.tablet {
          margin-bottom: v.dynamic-vw(1024, 64px);
        }
        @include v.mobile {
          margin-bottom: v.dynamic-vw(375, 44px);
        }
      }

      &_4 {
        @include v.tablet {
          margin-bottom: v.dynamic-vw(1024, 64px);
        }
        @include v.mobile {
          margin-bottom: v.dynamic-vw(375, 64px);
        }
      }

      &_5 {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;
        z-index: 10;
        margin-bottom: v.dynamic-vw(1920, 150px);
        //@media (min-width: 1921px) {
        //  margin-bottom: 150px;
        //}
        @include v.tablet {
          width: 100%;
          margin-bottom: v.dynamic-vw(1024, 100px);
        }
        @include v.mobile {
          flex-flow: column nowrap;
          margin-bottom: v.dynamic-vw(375, 80px);
        }
      }
    }

    &_number {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 20%;
      left: 0;
      font-family: v.$ttCommons;
      font-weight: 300;
      font-size: v.dynamic-vw(1920, 20px);
      line-height: 1.2;
      color: #ffffff;
      text-align: center;
      //@media (min-width: 1921px) {
      //  font-size: 20px;
      //}
      @include v.tablet {
        font-size: v.dynamic-vw(1024, 24px);
        top: 15%;
      }
      @include v.mobile {
        font-size: v.dynamic-vw(375, 20px);
        top: 15%;
      }

      &-circle {
        position: relative;
        width: v.dynamic-vw(1920, 32px);
        height: v.dynamic-vw(1920, 32px);
        border-radius: 50%;
        border: #ffffff 1px solid;
        margin-bottom: v.dynamic-vw(1920, 32px);
        transform: translateX(v.dynamic-vw(1920, -40px));
        //@media (min-width: 1921px) {
        //  width: 32px;
        //  height: 32px;
        //  margin-bottom: 32px;
        //  transform: translateX(-40px);
        //}
        @include v.tablet {
          width: v.dynamic-vw(1024, 32px);
          height: v.dynamic-vw(1024, 32px);
          margin-bottom: v.dynamic-vw(1024, 24px);
          transform: translateX(v.dynamic-vw(1024, -40px));
        }
        @include v.mobile {
          transform: translateX(0);
          width: v.dynamic-vw(375, 32px);
          height: v.dynamic-vw(375, 32px);
          margin-bottom: v.dynamic-vw(375, 20px);
        }
      }
    }

    &_title-block {
      position: relative;
      margin-bottom: v.dynamic-vw(1920, 60px);
      //@media (min-width: 1921px) {
      //  margin-bottom: 60px;
      //}
      @include v.tablet {
        margin-bottom: v.dynamic-vw(1024, 40px);
      }
      @include v.mobile {
        margin-bottom: v.dynamic-vw(375, 40px);
      }
    }

    &_title {
      font-family: v.$halvarRegular;
      font-size: v.dynamic-vw(1920, 24px);
      font-weight: 500;
      color: #ffffff;
      line-height: 1;
      margin-bottom: v.dynamic-vw(1920, 24px);
      //@media (min-width: 1921px) {
      //  margin-bottom: 24px;
      //  font-size: 24px;
      //}
      @include v.tablet {
        font-size: v.dynamic-vw(1024, 22px);
        margin-bottom: v.dynamic-vw(1024, 16px);
      }
      @include v.mobile {
        font-size: v.dynamic-vw(375, 22px);
        margin-bottom: v.dynamic-vw(375, 16px);
      }
    }

    &_desc {
      font-family: v.$ttCommons;
      font-weight: 300;
      line-height: 1.3;
      font-size: v.dynamic-vw(1920, 24px);
      color: #ffffff;
      //@media (min-width: 1921px) {
      //  font-size: 24px;
      //}
      @include v.tablet {
        font-size: v.dynamic-vw(1024, 20px);
      }
      @include v.mobile {
        font-size: v.dynamic-vw(375, 18px);
      }

      &-3 {
        font-size: v.dynamic-vw(1920, 22px);
        @media (min-width: 1921px) {
          font-size: 22px;
        }
      }
    }

    &_pic {
      &-1 {
        max-width: v.dynamic-vw(1920, 700px);
        max-height: v.dynamic-vw(1920, 368px);
        width: 100%;
        height: 100%;
        margin-right: v.dynamic-vw(1920, 80px);
        margin-bottom: v.dynamic-vw(1920, 40px);
        //@media (min-width: 1921px) {
        //  margin-bottom: 40px;
        //  margin-right: 80px;
        //  min-width: 700px;
        //  min-height: 368px;
        //}
        @include v.tablet {
          margin-bottom: v.dynamic-vw(1024, 20px);
          max-height: v.dynamic-vw(1024, 289px);
          max-width: v.dynamic-vw(1024, 550px);
        }
        @include v.mobile {
          max-width: v.dynamic-vw(375, 335px);
          max-height: v.dynamic-vw(375, 260px);
          margin-right: 0;
          margin-bottom: v.dynamic-vw(375, 20px);
        }
      }

      &-2 {
        max-width: v.dynamic-vw(1920, 294px);
        max-height: v.dynamic-vw(1920, 368px);
        width: 100%;
        height: 100%;
        //@media (min-width: 1921px) {
        //  min-height: 368px;
        //  min-width: 294px;
        //}
        @include v.tablet {
          max-height: v.dynamic-vw(1024, 289px);
          max-width: v.dynamic-vw(1024, 231px);
        }
        @include v.mobile {
          max-width: v.dynamic-vw(375, 335px);
          max-height: v.dynamic-vw(375, 260px);
          margin-right: 0;
          margin-bottom: v.dynamic-vw(375, 20px);
        }
      }

      &-3 {
        max-width: v.dynamic-vw(1920, 700px);
        max-height: v.dynamic-vw(1920, 368px);
        width: 100%;
        margin-right: v.dynamic-vw(1920, 80px);
        height: 100%;
        //@media (min-width: 1921px) {
        //  margin-right: 80px;
        //  min-width: 700px;
        //  min-height: 368px;
        //}
        @include v.tablet {
          margin-bottom: v.dynamic-vw(1024, 20px);
          max-height: v.dynamic-vw(1024, 289px);
          max-width: v.dynamic-vw(1024, 550px);
        }
        @include v.mobile {
          max-width: v.dynamic-vw(375, 335px);
          max-height: v.dynamic-vw(375, 260px);
          margin-right: 0;
          margin-bottom: v.dynamic-vw(375, 20px);
        }
      }

      &-4 {
        max-width: v.dynamic-vw(1920, 294px);
        max-height: v.dynamic-vw(1920, 368px);
        width: 100%;
        height: 100%;
        //@media (min-width: 1921px) {
        //  min-width: 294px;
        //  min-height: 368px;
        //}
        @include v.tablet {
          max-height: v.dynamic-vw(1024, 289px);
          max-width: v.dynamic-vw(1024, 231px);
        }
        @include v.mobile {
          max-width: v.dynamic-vw(375, 335px);
          max-height: v.dynamic-vw(375, 260px);
          margin-right: 0;
          margin-bottom: v.dynamic-vw(375, 20px);
        }
      }

      &-block {
        padding-right: v.dynamic-vw(1920, 206px);
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        margin-bottom: v.dynamic-vw(1920, 76px);
        @include v.tablet {
          padding-right: v.dynamic-vw(1024, 2px);
          margin-bottom: v.dynamic-vw(1024, 64px);
        }
        @include v.mobile {
          flex-flow: column nowrap;
          padding-right: 0;
          margin-bottom: v.dynamic-vw(375, 63px);
        }
      }
    }

    &_text {
      &-string {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        margin-bottom: v.dynamic-vw(1920, 80px);
        @include v.tablet {
          margin-bottom: v.dynamic-vw(1024, 40px);
        }
        @include v.mobile {
          margin-bottom: v.dynamic-vw(375, 42px);
          flex-flow: column nowrap;
        }

        p {
          font-family: v.$ttCommons;
          font-weight: 300;
          line-height: 1.3;
          color: #ffffff;
          font-size: v.dynamic-vw(1920, 24px);
          max-width: v.dynamic-vw(1920, 600px);
          width: 100%;
          @include v.tablet {
            font-size: v.dynamic-vw(1024, 22px);
            max-width: v.dynamic-vw(1024, 406px);
          }
          @include v.mobile {
            font-size: v.dynamic-vw(375, 22px);
            max-width: unset;
          }

          &:first-child {
            @include v.mobile {
              margin-bottom: v.dynamic-vw(375, 28px);
            }
          }
        }
      }

      &-block {
        max-width: v.dynamic-vw(1920, 600px);
        width: 100%;
        padding-bottom: v.dynamic-vw(1920, 125px);
        @include v.tablet {
          padding-bottom: v.dynamic-vw(1024, 64px);
          max-width: v.dynamic-vw(1024, 450px);
        }
        @include v.mobile {
          max-width: unset;
          padding-bottom: v.dynamic-vw(375, 63px);
        }

        p {
          font-family: v.$ttCommons;
          font-weight: 300;
          line-height: 1.3;
          color: #ffffff;
          font-size: v.dynamic-vw(1920, 24px);
          @include v.tablet {
            font-size: v.dynamic-vw(1024, 22px);
          }
          @include v.mobile {
            font-size: v.dynamic-vw(375, 22px);
          }

          &:first-child {
            margin-bottom: v.dynamic-vw(1920, 24px);
            @include v.tablet {
              margin-bottom: v.dynamic-vw(1024, 24px);
            }
            @include v.mobile {
              margin-bottom: v.dynamic-vw(375, 28px);
            }
          }
        }
      }
    }
  }
}

.circle_white {
  stroke: #ffffff;
  stroke-width: v.dynamic-vw(1920, 2px);
  transition: stroke-dashoffset 0.4s linear;
  opacity: 0.8;
}

.progress__svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  stroke: #FF3D54;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 100;
  transform: rotate(-90deg);
}

.den4ik-button {
  opacity: 1;
  transition: .2s ease-in-out;
  position: absolute;
  top: 40%;
  left: 45%;
  width: v.dynamic-vw(1920, 39px);
  height: v.dynamic-vw(1920, 50px);
  z-index: 100;

  &_hidden {
    opacity: 0;
  }
}

.row {
  &_1 {
    &_left-block {
      max-width: v.dynamic-vw(1920, 448px);
      width: 100%;
      @include v.tablet {
        max-width: v.dynamic-vw(1024, 448px);
      }
      @include v.mobile {
        max-width: unset;
        margin-bottom: v.dynamic-vw(375, 40px);
      }

      p {
        font-size: v.dynamic-vw(1920, 22px);
        font-weight: 300;
        font-family: v.$ttCommons;
        color: #D6D6D6;
        line-height: 1.3;
        @include v.tablet {
          font-size: v.dynamic-vw(1024, 22px);
        }
        @include v.mobile {
          font-size: v.dynamic-vw(375, 22px);
        }

        &:first-child {
          margin-bottom: v.dynamic-vw(1920, 40px);
          @include v.tablet {
            margin-bottom: v.dynamic-vw(1024, 32px);
          }
          @include v.mobile {
            margin-bottom: v.dynamic-vw(375, 28px);
            font-size: v.dynamic-vw(375, 20px);
          }
        }
      }
    }

    &_right-block {
      max-width: v.dynamic-vw(1920, 375px);
      margin-right: v.dynamic-vw(1920, 30px);
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: space-between;
      @include v.tablet {
        max-width: v.dynamic-vw(1024, 306px);
        margin-right: 0;
      }
      @include v.mobile {
        max-width: unset;
        margin-right: 0;
      }

      p {
        font-size: v.dynamic-vw(1920, 18px);
        font-weight: 300;
        font-family: v.$ttCommons;
        color: #ACACAC;
        line-height: 1.3;
        margin-bottom: v.dynamic-vw(1920, 40px);
        @include v.tablet {
          font-size: v.dynamic-vw(1024, 16px);
          margin-bottom: v.dynamic-vw(1024, 35px);
        }
        @include v.mobile {
          margin-bottom: v.dynamic-vw(375, 28px);
          font-size: v.dynamic-vw(375, 18px);
        }
      }

      &_img {
        border-radius: v.dynamic-vw(1920, 18px);
        width: v.dynamic-vw(1920, 375px);
        height: v.dynamic-vw(1920, 377px);
        box-shadow: 0 0 80px rgba(239, 46, 68, 0.2);
        @include v.tablet {
          width: v.dynamic-vw(1024, 308px);
          height: v.dynamic-vw(1024, 309px);
          border-radius: v.dynamic-vw(1024, 18px);
          box-shadow: 0 0 65.7067px rgba(239, 46, 68, 0.2);
        }
        @include v.mobile {
          border-radius: v.dynamic-vw(375, 18px);
          width: v.dynamic-vw(375, 335px);
          height: v.dynamic-vw(375, 336.79px);
          box-shadow: 0px 0px 71.4667px rgba(239, 46, 68, 0.2);
        }
      }
    }
  }
  &_2 {
    &_left-block {
      max-width: v.dynamic-vw(1920, 524px);
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      @include v.tablet {
        max-width: v.dynamic-vw(1024, 450px);
      }
      @include v.mobile {
        max-width: unset;
        margin-bottom: v.dynamic-vw(375, 56px);
      }

      p {
        font-weight: 300;
        font-family: v.$ttCommons;
        color: #ffffff;
        font-size: v.dynamic-vw(1920, 24px);
        line-height: 1.3;
        margin-bottom: v.dynamic-vw(1920, 40px);
        @include v.tablet {
          font-size: v.dynamic-vw(1024, 20px);
          margin-bottom: v.dynamic-vw(1024, 40px);
        }
        @include v.mobile {
          font-size: v.dynamic-vw(375, 20px);
          margin-bottom: v.dynamic-vw(375, 28px);
        }
      }

      img {
        width: v.dynamic-vw(1920, 456px);
        height: v.dynamic-vw(1920, 294px);
        @include v.tablet {
          height: v.dynamic-vw(1024, 290px);
          width: v.dynamic-vw(1024, 450px);
        }
        @include v.mobile {
          width: v.dynamic-vw(375, 335px);
          height: v.dynamic-vw(375, 260px);
        }
      }
    }

    &_right-block {
      max-width: v.dynamic-vw(1920, 501px);
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      @include v.tablet {
        max-width: v.dynamic-vw(1024, 307px);
      }
      @include v.mobile {
        max-width: unset;
      }

      p {
        font-weight: 300;
        font-family: v.$ttCommons;
        color: #ffffff;
        font-size: v.dynamic-vw(1920, 24px);
        line-height: 1.3;
        margin-bottom: v.dynamic-vw(1920, 40px);
        @include v.tablet {
          font-size: v.dynamic-vw(1024, 20px);
          margin-bottom: v.dynamic-vw(1024, 40px);
        }
        @include v.mobile {
          font-size: v.dynamic-vw(375, 20px);
          margin-bottom: v.dynamic-vw(375, 28px);
        }
      }

      &_img {
        width: v.dynamic-vw(1920, 294px);
        height: v.dynamic-vw(1920, 368px);
        @include v.tablet {
          height: v.dynamic-vw(1024, 384px);
          width: v.dynamic-vw(1024, 307px);
        }
        @include v.mobile {
          width: v.dynamic-vw(375, 335px);
          height: v.dynamic-vw(375, 420px);
        }
      }
    }
  }
  &_3 {
    &_title {
      color: #ffffff;
      margin-bottom: v.dynamic-vw(1920, 60px);
      font-size: v.dynamic-vw(1920, 60px);
      line-height: 1.2;
      @include v.tablet {
        margin-bottom: v.dynamic-vw(1024, 64px);
        font-size: v.dynamic-vw(1024, 48px);
        margin-left: v.dynamic-vw(1024, -87px);
      }
      @include v.mobile {
        margin-bottom: v.dynamic-vw(375, 40px);
        font-size: v.dynamic-vw(375, 28px);
        margin-left: 0;
      }

      span {
        &:first-child {
          font-family: v.$halvarRegular;
          font-weight: 500;
        }

        &:last-child {
          font-family: v.$apocLC;
          font-weight: 400;
          font-style: italic;
        }
      }
    }

    &_photos {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: v.dynamic-vw(1920, 1280px);
      @include v.tablet {
        max-width: v.dynamic-vw(1024, 857px);
      }
      @include v.mobile {
        flex-flow: column nowrap;
        max-width: unset;
      }

      img {
        &:nth-child(2) {
          transform: rotateY(180deg);
        }
        width: v.dynamic-vw(1920, 600px);
        @include v.tablet {
          width: v.dynamic-vw(1024, 402px);
        }
        @include v.mobile {
          width: v.dynamic-vw(375, 335px);
          margin-bottom: v.dynamic-vw(375, 20px);
        }
      }
    }
  }
  &_4 {
    &_title-block {
      max-width: v.dynamic-vw(1920, 670px);
      width: 100%;
      margin-bottom: v.dynamic-vw(1920, 60px);
      @include v.tablet {
        max-width: v.dynamic-vw(1024, 649px);
        margin-bottom: v.dynamic-vw(1024, 40px);
      }
      @include v.mobile {
        max-width: unset;
        margin-bottom: v.dynamic-vw(375, 40px);
      }
    }

    &_title {
      margin-bottom: v.dynamic-vw(1920, 24px);
      font-weight: 500;
      font-family: v.$halvarRegular;
      font-size: v.dynamic-vw(1920, 20px);
      line-height: 1;
      color: #ffffff;
      @include v.tablet {
        margin-bottom: v.dynamic-vw(1024, 16px);
        font-size: v.dynamic-vw(1024, 20px);
      }
      @include v.mobile {
        font-size: v.dynamic-vw(375, 20px);
        margin-bottom: v.dynamic-vw(375, 16px);
      }
    }

    &_desc {
      p {
        font-weight: 300;
        font-size: v.dynamic-vw(1920, 24px);
        line-height: 1.3;
        color: #ffffff;
        font-family: v.$ttCommons;
        @include v.tablet {
          font-size: v.dynamic-vw(1024, 22px);
        }
        @include v.mobile {
          font-size: v.dynamic-vw(375, 22px);
        }

        &:first-child {
          margin-bottom: v.dynamic-vw(1920, 16px);
          color: #ACACAC;
          font-size: v.dynamic-vw(1920, 18px);
          @include v.tablet {
            font-size: v.dynamic-vw(1024, 16px);
            margin-bottom: v.dynamic-vw(1024, 16px);
          }
          @include v.mobile {
            font-size: v.dynamic-vw(375, 16px);
            margin-bottom: v.dynamic-vw(375, 16px);
          }
        }
      }

      &_2 {
        p {
          font-weight: 300;
          font-size: v.dynamic-vw(1920, 24px);
          line-height: 1.3;
          color: #ffffff;
          font-family: v.$ttCommons;
          margin-bottom: v.dynamic-vw(1920, 60px);
          width: v.dynamic-vw(1920, 640px);
          @include v.tablet {
            width: v.dynamic-vw(1024, 651px);
            margin-bottom: v.dynamic-vw(1024, 40px);
            font-size: v.dynamic-vw(1024, 22px);
          }
          @include v.mobile {
            margin-bottom: v.dynamic-vw(375, 40px);
            width: unset;
            font-size: v.dynamic-vw(375, 22px);
          }
        }
      }
    }

    &_img {
      width: v.dynamic-vw(1920, 1280px);

      &-1 {
        margin-bottom: v.dynamic-vw(1920, 150px);
        @include v.tablet {
          margin-bottom: v.dynamic-vw(1024, 64px);
        }
        @include v.mobile {
          margin-bottom: v.dynamic-vw(375, 56px);
        }
      }

      @include v.tablet {
        width: v.dynamic-vw(1024, 857px);
      }
      @include v.mobile {
        width: v.dynamic-vw(375, 335px);
      }
    }
  }
  &_5 {
    &_block {
      max-width: v.dynamic-vw(1920, 600px);
      width: 100%;

      &:nth-child(2) {
        p {
          max-width: v.dynamic-vw(1024, 275px);
          @include v.mobile {
            max-width: unset;
          }
        }
      }

      &:first-child {
        @include v.tablet {
          margin-right: v.dynamic-vw(1024, 43px);
        }
        @include v.mobile {
          margin-right: 0;
          margin-bottom: v.dynamic-vw(375, 40px);
        }
      }

      @include v.tablet {
        max-width: unset;
      }
      @include v.mobile {
        max-width: unset;
      }

      p {
        max-width: v.dynamic-vw(1920, 520px);
        width: 100%;
        color: #ffffff;
        font-weight: 300;
        font-size: v.dynamic-vw(1920, 24px);
        font-family: v.$ttCommons;
        line-height: 1.3;
        margin-bottom: v.dynamic-vw(1920, 32px);
        @include v.tablet {
          max-width: v.dynamic-vw(1024, 354px);
          margin-bottom: v.dynamic-vw(1024, 40px);
          font-size: v.dynamic-vw(1024, 20px);
        }
        @include v.mobile {
          max-width: unset;
          font-size: v.dynamic-vw(375, 20px);
          margin-bottom: v.dynamic-vw(375, 32px);
        }
      }

      img {
        width: v.dynamic-vw(1920, 600px);
        @include v.tablet {
          width: v.dynamic-vw(1024, 407px);
        }
        @include v.mobile {
          width: v.dynamic-vw(375, 335px);
        }
      }
    }
  }
}

.body__blur {
  &_1 {
    position: absolute;
    top: -100%;
    left: 30%;
    width: 100%;
    z-index: 2;
    pointer-events: none;
    @include v.tablet {
      left: 10%;
    }
    @include v.mobile {
      top: -80%;
      left: -100%;
      width: 250%;
    }
  }

  &_2 {
    position: absolute;
    top: -50%;
    left: -12%;
    width: 100%;
    pointer-events: none;
    @include v.tablet {
      left: -5%;
      top: -150%;
    }
    @include v.mobile {
      width: 350%;
      top: -150%;
    }
  }

  &_3 {
    position: absolute;
    top: -90%;
    left: 40%;
    width: 100%;
    pointer-events: none;
    @include v.tablet {
      left: 20%;
      top: -25%;
    }
    @include v.mobile {
      width: 300%;
      left: -100%;
      top: -100%;
    }
  }

  &_4 {
    position: absolute;
    top: -30%;
    left: -30%;
    width: 100%;
    pointer-events: none;
    @include v.tablet {
      left: -10%;
      top: -15%;
    }
    @include v.mobile {
      width: 300%;
      left: -10%;
      top: -5%;
    }
  }

  &_5 {
    position: absolute;
    top: -100%;
    left: 40%;
    width: 100%;
    pointer-events: none;
    @include v.tablet {
      top: -40%;
      left: 20%;
    }
    @include v.mobile {
      transform: rotate(180deg);
      width: 400%;
      top: -100%;
      left: -10%;
    }
  }

  &_6 {
    position: absolute;
    top: -250%;
    left: -40%;
    width: 80%;
    pointer-events: none;
    @include v.tablet {
      top: -100%;
      left: -25%;
    }
    @include v.mobile {
      display: none;
    }
  }

}

.content__block {
  &_title {
    font-weight: 500;
    line-height: 1;
    font-family: v.$halvarRegular;
    font-size: v.dynamic-vw(1920, 20px);
    color: #ffffff;
    margin-bottom: v.dynamic-vw(1920, 24px);
    position: relative;
    z-index: 15;
    pointer-events: none;
    @include v.tablet {
      font-size: v.dynamic-vw(1024, 20px);
      margin-bottom: v.dynamic-vw(1024, 16px);
    }
    @include v.mobile {
      font-size: v.dynamic-vw(375, 20px);
      margin-bottom: v.dynamic-vw(375, 16px);
    }
  }

  &_desc {
    font-family: v.$ttCommons;
    color: #ffffff;
    font-weight: 300;
    line-height: 1.3;
    font-size: v.dynamic-vw(1920, 24px);
    max-width: v.dynamic-vw(1920, 490px);
    width: 100%;
    margin-bottom: v.dynamic-vw(1920, 111px);
    position: relative;
    z-index: 15;
    pointer-events: none;
    @include v.tablet {
      font-size: v.dynamic-vw(1024, 18px);
      margin-bottom: v.dynamic-vw(1024, 157px);
      max-width: v.dynamic-vw(1024, 339px);
      padding-right: v.dynamic-vw(1024, 18px);
    }
    @include v.mobile {
      max-width: unset;
      font-size: v.dynamic-vw(375, 18px);
      margin-bottom: v.dynamic-vw(375, 32px);
      padding-right: 0;
    }
  }

  &_video {
    max-height: v.dynamic-vw(1920, 800px);
    max-width: v.dynamic-vw(1920, 800px);
    height: 100%;
    width: 100%;
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;

    video {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 100%;
      height: 100%;
      transition: transform .6s ease-in-out .2s;
    }
  }

  &_paragraphs {
    max-width: v.dynamic-vw(1920, 316px);
    width: 100%;
    @include v.tablet {
      max-width: v.dynamic-vw(1024, 289px);
    }
    @include v.mobile {
      max-width: unset;
    }

    p {
      font-weight: 300;
      line-height: 1.3;
      font-family: v.$ttCommons;
      font-size: v.dynamic-vw(1920, 18px);
      color: #ACACAC;
      @include v.tablet {
        font-size: v.dynamic-vw(1024, 16px);
      }
      @include v.mobile {
        font-size: v.dynamic-vw(375, 16px);
      }

      &:not(:last-child) {
        margin-bottom: v.dynamic-vw(1920, 16px);
        @include v.tablet {
          margin-bottom: v.dynamic-vw(1024, 16px);
        }
        @include v.mobile {
          margin-bottom: v.dynamic-vw(375, 28px);
        }
      }
    }
  }

  &_text {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: v.dynamic-vw(1920, 89px);
    margin-bottom: v.dynamic-vw(1920, 180px);
    @include v.tablet {
      margin-bottom: v.dynamic-vw(1024, 132px);
    }
    @include v.mobile {
      flex-flow: column nowrap;
      margin-right: 0;
      margin-bottom: v.dynamic-vw(375, 140px);
    }
  }

  &_svg-text {
    position: relative;
    //overflow: hidden;
    width: v.dynamic-vw(1920, 1000px);
    height: v.dynamic-vw(1920, 248px);
    margin-left: v.dynamic-vw(1920, 156px);
    margin-right: v.dynamic-vw(1920, 355.92px);
    margin-bottom: v.dynamic-vw(1920, 312px);
    @include v.tablet {
      margin-bottom: v.dynamic-vw(1024, 177px);
      height: v.dynamic-vw(1024, 203px);
      width: v.dynamic-vw(1024, 629px);
    }
    @include v.mobile {
      margin-bottom: v.dynamic-vw(375, 160px);
    }
  }
}

.parties {
  position: relative;

  hr {
    margin: 0;
    width: 100%;
    padding: 0;
    height: 1px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 2;
    position: relative;
  }

  &-button {
    margin-top: v.dynamic-vw(1920, 72px);
    @include v.tablet {
      margin-top: v.dynamic-vw(1024, 31px);
    }
    @include v.mobile {
      margin-top: v.dynamic-vw(375, 80px);
    }

    .link-button {
      justify-self: flex-start;
      color: #ffffff;
      justify-content: flex-start;
      font-weight: 500;
      font-family: v.$halvarRegular;
      line-height: 1.2;
      text-transform: uppercase;
      position: relative;
      z-index: 5;
      max-width: v.dynamic-vw(1920, 170px);
      width: 100%;
      @include v.tablet {
        max-width: v.dynamic-vw(1024, 190px);
      }
      @include v.mobile {
        max-width: v.dynamic-vw(375, 140px);
        margin-left: auto;
        margin-right: auto;
        justify-self: unset;
        justify-content: unset;
      }

      svg {
        width: v.dynamic-vw(1920, 24px);
        height: v.dynamic-vw(1920, 24px);
        @include v.tablet {
          width: v.dynamic-vw(1024, 24px);
          height: v.dynamic-vw(1024, 24px);
        }
        @include v.mobile {
          width: v.dynamic-vw(375, 24px);
          height: v.dynamic-vw(375, 24px);
        }
      }

      span {
        margin-right: v.dynamic-vw(1920, 5px);
        font-size: v.dynamic-vw(1920, 16px);
        @include v.tablet {
          margin-right: v.dynamic-vw(1024, 5px);
          font-size: v.dynamic-vw(1024, 16px);
        }
        @include v.mobile {
          margin-right: v.dynamic-vw(375, 5px);
          font-size: v.dynamic-vw(375, 16px);
        }
      }
    }

    &:hover {
      cursor: pointer;

      svg {
        transform: rotate(45deg);
      }
    }

    svg {
      transform: rotate(0deg);
    }
  }

  &-list {
    hr {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0;
      transform: scale(0, 1);
    }

    &--img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: v.dynamic-vw(1920, 330px);
      height: v.dynamic-vw(1920, 482px);
      pointer-events: none;
      transition: opacity .2s ease-in-out;
      opacity: 0;
      @include v.tablet {
        height: v.dynamic-vw(1024, 411px);
        width: v.dynamic-vw(1024, 287px);
      }
      @media (hover: none) {
        transition: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
      }

      picture {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;

        &:before {
          @extend %before-gradient;
          background: radial-gradient(69.16% 69.16% at 50% 50%, rgba(0, 0, 0, 0) 60.94%, var(--bg-color) 100%);
        }

        img {
          @include v.centerImg;
        }
      }
    }

    &--item {
      padding: v.dynamic-vw(1920, 86.12px) v.dynamic-vw(1920, 21.46px) v.dynamic-vw(1920, 58.31px) v.dynamic-vw(1920, 21.46px);
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      position: relative;
      @include v.tablet {
        padding: v.dynamic-vw(1024, 69px) v.dynamic-vw(1024, 8px) v.dynamic-vw(1024, 54px) v.dynamic-vw(1024, 20px);
      }
      @include v.mobile {
        flex-flow: column nowrap;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: v.dynamic-vw(375, 28px) v.dynamic-vw(375, 58px);
      }

      @media (hover: hover) {
        &:hover {
          cursor: pointer;

          .parties-list--name {
            color: #FF3D54;
          }

          .parties-list--date {
            transform: skewX(-10deg);
            color: #FF3D54;
          }

          .link-button {
            svg {
              transform: rotate(45deg);
            }
          }
        }
      }

      &.active {
        .parties-list--name {
          color: #FF3D54;
        }

        .parties-list--date {
          transform: skewX(-10deg);
          color: #FF3D54;
        }

        .link-button {
          svg {
            transform: rotate(45deg);
          }
        }
      }
    }

    &--date {
      line-height: 1;
      font-feature-settings: 'salt' on;
      position: relative;
      z-index: 2;
      color: #ffffff;
      transform-origin: bottom;
      transition: transform .2s ease-in-out, color .2s ease-in-out;
      font-family: v.$halvarRegular;
      font-weight: 400;
      font-size: v.dynamic-vw(1920, 35.88px);
      @media (min-width: 1921px) {
        font-size: 35.88px;
      }
      @include v.tablet {
        font-size: v.dynamic-vw(1024, 32px);
      }
      @include v.mobile {
        font-size: v.dynamic-vw(375, 22px);
        margin-bottom: v.dynamic-vw(375, 9px);
      }
    }

    &--info {
      position: relative;
      z-index: 2;
    }

    &--name {
      font-family: v.$badRussian;
      font-weight: normal;
      font-size: v.dynamic-vw(1920, 80px);
      line-height: 1.3;
      color: #FFFFFF;
      text-transform: uppercase;
      font-feature-settings: 'salt' on;
      transition: color .2s ease-in-out;
      position: relative;
      z-index: 10;
      @media (min-width: 1921px) {
        font-size: 80px;
      }
      @include v.tablet {
        font-size: v.dynamic-vw(1024, 48px);
      }
      @include v.mobile {
        font-size: v.dynamic-vw(375, 40px);
        margin-bottom: v.dynamic-vw(375, 18.5px);
      }
    }
  }
}

.link-button {
  margin-left: v.dynamic-vw(1920, 75px);
  pointer-events: none;
  color: #ffffff;
  font-weight: 500;
  font-family: v.$halvarRegular;
  line-height: 1.2;
  position: relative;
  z-index: 5;
  text-transform: uppercase;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: v.dynamic-vw(1920, 143px);
  width: 100%;
  font-size: v.dynamic-vw(1920, 16.15px);
  @include v.tablet {
    max-width: v.dynamic-vw(1024, 145px);
    font-size: v.dynamic-vw(1024, 16px);
    margin-left: v.dynamic-vw(1024, 55px);
  }
  @include v.mobile {
    font-size: v.dynamic-vw(375, 16px);
    margin-left: 0;
    max-width: v.dynamic-vw(375, 140px);
  }

  svg {
    transform: rotate(90deg);
    transition: transform .2s ease-in-out;
    width: v.dynamic-vw(1920, 24px);
    height: v.dynamic-vw(1920, 24px);
    @include v.tablet {
      width: v.dynamic-vw(1024, 24px);
      height: v.dynamic-vw(1024, 24px);
    }
    @include v.mobile {
      width: v.dynamic-vw(375, 24px);
      height: v.dynamic-vw(375, 24px);
    }
  }
}

.replay-button {
  opacity: 0.8;
  transition: opacity .2s ease-in-out;
  position: absolute;
  top: 40%;
  left: 45%;
  width: v.dynamic-vw(1920, 39px);
  height: v.dynamic-vw(1920, 50px);
  z-index: 100;
  stroke: #FFFFFF;
  pointer-events: none;

  &.hidden {
    opacity: 0;
  }
}

.video-cross {
  opacity: 0;
  transition: opacity .4s ease-in-out;
  position: absolute;
  top: -15%;
  left: 85%;
  stroke: #FFFFFF;
  width: v.dynamic-vw(1920, 39px);
  height: v.dynamic-vw(1920, 50px);
  z-index: 100;
  transform: rotate(45deg);

  &.fixed {
    opacity: 0.8;
  }
}

#hero-svg {
  display: block;
  width: 100%;
  height: auto;
  overflow: visible;
  pointer-events: none;
  opacity: 0;
  @include v.tablet {
    transform-origin: 15% center;
    transform: scale(1.5);
    left: 0;
    max-width: v.dynamic-vw(1024, 629px);
  }

  &.active {
    opacity: 1;
  }

  #hero-text-inner1, #hero-text-inner2 {
    font-family: $badRussian;
    font-style: normal;
    font-weight: normal;
    font-size: 180px;
    line-height: 1.3;
    text-transform: uppercase;
    font-feature-settings: 'salt' on;
    fill: white;
  }
}

#hero-path1 {
  @include v.tablet {
    max-width: v.dynamic-vw(1024, 629px);
  }
}

#hero-path2 {
  @include v.tablet {
    max-width: v.dynamic-vw(1024, 629px);
  }
}

#parties {
  margin-bottom: v.dynamic-vw(1920, 180px);
  @include v.tablet {
    margin-bottom: v.dynamic-vw(1024, 160px);
    min-height: auto;
  }
}
















