@use "src/scss/vars" as v;

#parties {
  //margin-top: -60vh;
  padding-top: 250px;
  margin-bottom: 200px;
  //overflow: hidden;
  @media (max-width: 1919px) {
    padding-top: v.dynamic-vw(1920, 250px);
    margin-bottom: v.dynamic-vw(1920, 200px);
  }
  @media (max-width: 1024px) {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: v.dynamic-vw(1024, 200px);
    min-height: auto;
  }
  @media (max-width: 525px) {
    margin-bottom: v.dynamic-vw(375, 80px);
  }
}

.parties {
  position: relative;

  &-wrapper {
  }

  .template-title {
    text-align: center;
    margin-bottom: 185px;
    @media (max-width: 1919px) {
      margin-bottom: v.dynamic-vw(1920, 185px);
    }
    @media (max-width: 1024px) {
      margin-bottom: v.dynamic-vw(1024, 80px);
    }
    @media (max-width: 525px) {
      margin-bottom: v.dynamic-vw(375, 60px);
      span {
        margin: 0;
        display: block;

        &:not(:last-child) {
          margin-bottom: .25em;
        }
      }
    }
  }

  hr {
    margin: 0;
    width: 100%;
    padding: 0;
    height: 1px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 2;
    position: relative;
  }

  &-button {
    margin-top: 80px;
    @media (max-width: 1919px) {
      margin-top: v.dynamic-vw(1920, 80px);
    }
    @media (max-width: 525px) {
      display: block;
      margin-top: v.dynamic-vw(375, 64px);
    }

    .link-button {
      justify-self: flex-start;
      color: #ffffff;
      grid-column: 2 / span 2;
      font-weight: 500;
      font-family: v.$halvarRegular;
      line-height: 1.2;
      text-transform: uppercase;
      position: relative;
      z-index: 5;
      font-size: v.dynamic-vw(1920, 16.15px);
      @media (max-width: 525px) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.parties-list {
  hr {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    transform: scale(0, 1);
  }

  &--img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 330px;
    height: 482px;
    pointer-events: none;
    transition: opacity .2s ease-in-out;
    opacity: 0;
    @media (max-width: 1919px) {
      height: v.dynamic-vw(1920, 482px);
      width: v.dynamic-vw(1920, 330px);
    }
    @media (max-width: 1024px) {
      height: v.dynamic-vw(1024, 411px);
      width: v.dynamic-vw(1024, 287px);
    }
    @media (max-width: 525px) {
      width: v.dynamic-vw(375, 204px);
      height: v.dynamic-vw(375, 280px);
    }
    @media (hover: none) {
      transition: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }

    picture {
      position: relative;
      width: 100%;
      height: 100%;
      display: block;

      &:before {
        @extend %before-gradient;
        background: radial-gradient(69.16% 69.16% at 50% 50%, rgba(0, 0, 0, 0) 60.94%, var(--bg-color) 100%);
      }

      img {
        @include v.centerImg;
      }
    }
  }

  &--item {
    padding: v.dynamic-vw(1920, 86.12px) v.dynamic-vw(1920, 21.46px) v.dynamic-vw(1920, 58.31px) v.dynamic-vw(1920, 21.46px);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @include v.mobile {
      flex-flow: column nowrap;
      text-align: center;
      padding: v.dynamic-vw(375, 28px) 0;
    }

    &:nth-child(3) {
      margin-bottom: v.dynamic-vw(1920, 71.77px);
      @include v.mobile {
        margin-bottom: v.dynamic-vw(375, 80px);
      }
    }

    @media (hover: hover) {
      &:hover {
        .parties-list--name {
          color: #FF3D54;
        }

        .parties-list--date {
          transform: skewX(-10deg);
          color: #FF3D54;
        }

        .link-button {
          svg {
            transform: rotate(45deg);
          }
        }
      }
    }

    &.active {
      .parties-list--name {
        color: #FF3D54;
      }

      .parties-list--date {
        transform: skewX(-10deg);
        color: #FF3D54;
      }

      .link-button {
        svg {
          transform: rotate(45deg);
        }
      }
    }
  }

  &--date {
    line-height: 1;
    font-feature-settings: 'salt' on;
    position: relative;
    z-index: 2;
    color: #ffffff;
    transform-origin: bottom;
    transition: transform .2s ease-in-out, color .2s ease-in-out;
    font-family: v.$halvarRegular;
    font-weight: 400;
    font-size: v.dynamic-vw(1920, 35.88px);
    @include v.tablet {
      font-size: v.dynamic-vw(1024, 32px);
    }
    @include v.mobile {
      font-size: v.dynamic-vw(375, 22px);
      margin-bottom: v.dynamic-vw(375, 9px);
    }
  }

  &--info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  &--name {
    font-family: v.$badRussian;
    font-weight: normal;
    font-size: 80px;
    line-height: 1.3;
    color: #FFFFFF;
    text-transform: uppercase;
    font-feature-settings: 'salt' on;
    transition: color .2s ease-in-out;
    @include v.tablet {
      font-size: v.dynamic-vw(1024, 48px);
    }
    @include v.mobile {
      font-size: v.dynamic-vw(375, 40px);
      margin-bottom: v.dynamic-vw(375, 18.5px);
    }
  }
}

.link-button {
  margin-left: 75px;
  pointer-events: none;
  color: #ffffff;
  font-weight: 500;
  font-family: v.$halvarRegular;
  line-height: 1.2;
  position: relative;
  z-index: 5;
  text-transform: uppercase;
  font-size: v.dynamic-vw(1920, 16.15px);
  @media (max-width: 1919px) {
    margin-left: v.dynamic-vw(1920, 75px);
  }
  @media (max-width: 525px) {
    margin-left: auto;
    margin-right: auto;
  }

  svg {
    transform: rotate(90deg);
    transition: transform .2s ease-in-out;
  }
}
