@use "src/scss/vars" as v;

.stage {
  &__title_research {
    margin-bottom: v.dynamic-vw(1920, 80px);
    max-width: v.dynamic-vw(1920, 909px);
    width: 100%;
    @include v.tablet {
      max-width: v.dynamic-vw(1024, 730px);
      margin-bottom: v.dynamic-vw(1024, 80px);
    }
    @include v.mobile {
      max-width: unset;
      margin-bottom: v.dynamic-vw(375, 64px);
    }

    span {
      font-size: v.dynamic-vw(1920, 60px);
      @include v.tablet {
        font-size: v.dynamic-vw(1024, 48px);
      }
      @include v.mobile {
        font-size: v.dynamic-vw(375, 28px);
      }

      &:first-child {
        font-family: v.$apocLC;
        font-weight: 400;
        font-size: v.dynamic-vw(1920, 60px);
        line-height: 1.2;
        font-style: italic;
        margin-bottom: 0;
        @include v.tablet {
          font-size: v.dynamic-vw(1024, 48px);
          margin-bottom: 0;
        }
        @include v.mobile {
          font-size: v.dynamic-vw(375, 28px);
        }
      }
    }
  }

  &__section {

    &_text-row {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: space-between;
    }

    &_research_2 {
      padding-right: v.dynamic-vw(1920, 700px);
      @include v.tablet {
        padding-right: v.dynamic-vw(1024, 113px);
      }
      @include v.mobile {
        padding-right: 0;
      }

      .stage__section_desc {
        max-width: v.dynamic-vw(1920, 500px);
        width: 100%;
        margin-bottom: v.dynamic-vw(1920, 60px);
        @include v.tablet {
          margin-bottom: v.dynamic-vw(1024, 40px);
          max-width: v.dynamic-vw(1024, 450px);
        }
        @include v.mobile {
          max-width: unset;
          margin-bottom: 0;
        }
      }
    }

    &_1 {
      .research__block_small-pic {
        @include v.tablet {
          width: v.dynamic-vw(1024, 230px);
          height: v.dynamic-vw(1024, 288px);
        }
        @include v.mobile {
          width: 100%;
        }
      }
    }

    &_3 {
      .stage__section_title-block {
        max-width: v.dynamic-vw(1920, 580px);
        width: 100%;
        margin-bottom: v.dynamic-vw(1920, 60px);
        @include v.tablet {
          max-width: v.dynamic-vw(1024, 450px);
        }
        @include v.mobile {
          max-width: unset;
          margin-bottom: v.dynamic-vw(375, 40px);
        }
      }
    }

    &_4 {
      margin-bottom: v.dynamic-vw(1920, 100px);
      @include v.tablet {
        margin-bottom: 0;
      }

      .stage__section_desc {
        max-width: v.dynamic-vw(1920, 500px);
        width: 100%;
        margin-bottom: v.dynamic-vw(1920, 60px);
        @include v.mobile {
          margin-top: v.dynamic-vw(375, 8px);
          margin-bottom: v.dynamic-vw(375, 40px);
          max-width: unset;
        }

        p {
          font-weight: 300;
          color: #D6D6D6;
          font-size: v.dynamic-vw(1920, 22px);
          line-height: 1.3;
          @include v.mobile {
            font-size: v.dynamic-vw(375, 18px);
          }

          &:first-child {
            margin-bottom: v.dynamic-vw(1920, 16px);
            font-size: v.dynamic-vw(1920, 18px);
            @include v.mobile {
              font-size: v.dynamic-vw(375, 16px);
              margin-bottom: v.dynamic-vw(375, 16px);
            }
          }
        }
      }
      .research__block_big-pic {
        @include v.tablet {
          width: v.dynamic-vw(1024, 502px);
          height: v.dynamic-vw(1024, 264px);
        }
        @include v.mobile {
          width: 100%;
          margin-bottom: v.dynamic-vw(375, 40px);
        }
      }
    }

    &_5 {
      margin-bottom: v.dynamic-vw(1920, 100px);
      @include v.tablet {
        margin-bottom: v.dynamic-vw(1024, 64px);
      }
      @include v.mobile {
        margin-bottom: v.dynamic-vw(375, 79px);
      }

      .stage__section_title-block {
        max-width: v.dynamic-vw(1920, 574px);
        width: 100%;
        margin-bottom: v.dynamic-vw(1920, 80px);
        @include v.tablet {
          margin-bottom: v.dynamic-vw(1024, 40px);
          max-width: v.dynamic-vw(1024, 530px);
          font-size: v.dynamic-vw(1024, 18px);
        }
        @include v.mobile {
          max-width: unset;
          margin-bottom: v.dynamic-vw(375, 40px);
        }
      }

      .stage__section_text-row {
        p {
          font-weight: 300;
          line-height: 1.3;
          color: #ffffff;
          font-size: v.dynamic-vw(1920, 24px);
          font-family: v.$ttCommons;
          max-width: v.dynamic-vw(1920, 650px);
          width: 100%;
          @include v.tablet {
            font-size: v.dynamic-vw(1024, 20px);
            max-width: v.dynamic-vw(1024, 407px);
          }
          @include v.mobile {
            font-size: v.dynamic-vw(375, 20px);
            max-width: unset;
          }

          &:first-child {
            max-width: v.dynamic-vw(1920, 510px);
            @include v.tablet {
              max-width: v.dynamic-vw(1024, 384px);
            }
            @include v.mobile {
              max-width: unset;
              margin-bottom: v.dynamic-vw(375, 28px);
            }
          }
        }
        @include v.mobile {
          flex-flow: column nowrap;
        }
      }
    }

    &_6 {
      margin-bottom: v.dynamic-vw(1920, 150px);
      @include v.tablet {
        margin-bottom: v.dynamic-vw(1024, 113px);
      }
      @include v.mobile {
        margin-bottom: v.dynamic-vw(375, 61px);
      }

      .stage__section_title-block {
        max-width: v.dynamic-vw(1920, 540px);
        width: 100%;
        margin-bottom: v.dynamic-vw(1920, 80px);
        @include v.tablet {
          max-width: v.dynamic-vw(1024, 382px);
          margin-bottom: v.dynamic-vw(1024, 40px);
        }
        @include v.mobile {
          max-width: unset;
          margin-bottom: v.dynamic-vw(375, 40px);
        }
      }

      .stage__section_text-row {
        padding-right: v.dynamic-vw(1920, 323px);
        align-items: flex-end;
        @include v.tablet {
          padding-right: v.dynamic-vw(1024, 36px);
        }
        @include v.mobile {
          padding-right: 0;
          flex-flow: column nowrap;
          align-items: flex-start;
        }

        p {
          font-weight: 400;
          color: #D6D6D6;
          font-family: v.$ttCommons;
          font-size: v.dynamic-vw(1920, 18px);
          line-height: 1.3;
          @include v.tablet {
            font-size: v.dynamic-vw(1024, 16px);
          }
          @include v.mobile {
            font-size: v.dynamic-vw(375, 18px);
            margin-bottom: v.dynamic-vw(375, 28px);
          }
        }

        &_left {
          max-width: v.dynamic-vw(1920, 300px);
          width: 100%;
          @include v.tablet {
            max-width: v.dynamic-vw(1024, 299px);
          }
          @include v.mobile {
            max-width: unset;
          }

          p {
            &:first-child {
              margin-bottom: v.dynamic-vw(1920, 47px);
              @include v.tablet {
                margin-bottom: v.dynamic-vw(1024, 63px);
              }
              @include v.mobile {
                margin-bottom: v.dynamic-vw(375, 28px);
              }
            }
          }
        }

        &_right {
          width: 100%;
          max-width: v.dynamic-vw(1920, 350px);
          @include v.tablet {
            max-width: v.dynamic-vw(1024, 370px);
          }
          @include v.mobile {
            max-width: unset;
          }

          p {
            &:first-child {
              margin-bottom: v.dynamic-vw(1920, 24px);
              @include v.tablet {
                margin-bottom: v.dynamic-vw(1024, 40px);
              }
              @include v.mobile {
                margin-bottom: v.dynamic-vw(375, 28px);
              }
            }
          }
        }
      }
    }

    &_pic {
      &-row {
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: v.dynamic-vw(1920, 80px);
        @include v.tablet {
          margin-bottom: v.dynamic-vw(1024, 88px);
        }
        @include v.mobile {
          flex-flow: column nowrap;
          margin-bottom: v.dynamic-vw(375, 64px);
        }
      }

      &-text-row {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: v.dynamic-vw(1920, 60px);
        position: relative;
        z-index: 10;
        @include v.tablet {
          margin-bottom: v.dynamic-vw(1024, 64px);
        }
        @include v.mobile {
          margin-bottom: v.dynamic-vw(375, 84px);
          flex-flow: column nowrap;
          align-items: flex-end;
        }
      }
    }
  }
}

.research {
  &__block {
    &_big-pic {
      width: v.dynamic-vw(1920, 700px);
      height: v.dynamic-vw(1920, 368px);
      border: 3px solid white;
      @include v.tablet{
        width: v.dynamic-vw(1024, 550px);
        height: v.dynamic-vw(1024, 288px);
      }
      @include v.mobile {
        width: 100%;
      }
    }

    &_small-pic {
      width: v.dynamic-vw(1920, 294px);
      height: v.dynamic-vw(1920, 368px);
      border: 3px solid white;
      @include v.tablet {
        width: v.dynamic-vw(1024, 294px);
        height: v.dynamic-vw(1024, 368px);
      }
      @include v.mobile {
        width: 100%;
      }
    }
    &_text-1 {
      max-width: v.dynamic-vw(1920, 407px);
      width: 100%;
      position: relative;
      z-index: 10;
      @include v.tablet {
        max-width: v.dynamic-vw(1024, 407px);
      }
      @include v.mobile {
        max-width: unset;
        order: 1;
      }

      p {
        font-family: v.$ttCommons;
        font-weight: 300;
        line-height: 1.3;
        font-size: v.dynamic-vw(1920, 18px);
        color: #ACACAC;
        @include v.tablet {
          font-size: v.dynamic-vw(1024, 16px);
        }
        @include v.mobile {
          font-size: v.dynamic-vw(375, 16px);
        }

        &:first-child {
          font-size: v.dynamic-vw(1920, 24px);
          color: #ffffff;
          margin-bottom: v.dynamic-vw(1920, 40px);
          @include v.tablet {
            font-size: v.dynamic-vw(1024, 20px);
            margin-bottom: v.dynamic-vw(1024, 30px);
          }
          @include v.mobile {
            margin-bottom: v.dynamic-vw(375, 28px);
            font-size: v.dynamic-vw(375, 20px);
          }
        }
      }

    }

    &_text-2 {
      font-weight: 300;
      font-family: v.$ttCommons;
      font-size: v.dynamic-vw(1920, 24px);
      line-height: 1.3;
      color: #ffffff;
      max-width: v.dynamic-vw(1920, 340px);
      margin-right: v.dynamic-vw(1920, 16px);
      @include v.tablet {
        max-width: v.dynamic-vw(1024, 289px);
        font-size: v.dynamic-vw(1024, 20px);
        margin-right: v.dynamic-vw(1024, 18px);
      }
      @include v.mobile {
        margin-right: 0;
        margin-left: v.dynamic-vw(375, 108px);
        max-width: v.dynamic-vw(375, 226px);
        font-size: v.dynamic-vw(375, 16px);
      }
    }
  }
}

.stage__section_research_3 {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: v.dynamic-vw(1920, 90px);
  .stage__section_pic-text-row {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: v.dynamic-vw(1920, 60px);
    position: relative;
    z-index: 10;
    @include v.tablet {
      //margin-bottom: v.dynamic-vw(1024, 101px);
    }
    @include v.mobile {
      margin-bottom: v.dynamic-vw(375, 84px);
      flex-flow: column nowrap;
      align-items: flex-start;
    }
  }
  .stage__block_video {
    margin-bottom: v.dynamic-vw(1920, 40px);
    @include v.tablet {
      margin-bottom: v.dynamic-vw(1024, 32px);
    }
    @include v.mobile {
      margin-left: 0;
      margin-bottom: v.dynamic-vw(375, 32px);
    }
  }
  .stage__section_desc {
    margin-bottom: v.dynamic-vw(1920, 60px);
  }
  @include v.tablet {
    margin-bottom: v.dynamic-vw(1024, 69px);
  }
  @include v.mobile {
    flex-flow: column nowrap;
    align-items: flex-start;
  }
}
