$apocLC: 'Apoc LC';
$apocLCRevelations: 'Apoc LC Revelations';
$apocLCHairline: 'Apoc LC Hairline';
$badRussian: 'Bad Russian';
$corpusRoman: 'CorpusRomanUpdate';
$halvarRegular: 'Halvar Breit Rg';
$sverdlovsk: 'Sverdlovsk';
$ttCommons: 'TT Commons';