// Ограничиваем высоту текста по кол-ву строкю. $lines - кол-во строк, $max-width - макс. ширина конейнера с текстом
@mixin line-clamp($lines, $max-width) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  max-width: $max-width;
}

@mixin centerImg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  object-position: center;
}



