@font-face {
  font-family: 'Apoc LC';
  src: url('../fonts/ApocLC/subset-ApocLC-UltraBoldItalic.woff2') format('woff2'),
  url('../fonts/ApocLC/subset-ApocLC-UltraBoldItalic.woff') format('woff'),
  url('../fonts/ApocLC/subset-ApocLC-UltraBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Apoc LC';
  src: url('../fonts/ApocLC/subset-ApocLC-RegularItalic.woff2') format('woff2'),
  url('../fonts/ApocLC/subset-ApocLC-RegularItalic.woff') format('woff'),
  url('../fonts/ApocLC/subset-ApocLC-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Apoc LC';
  src: url('../fonts/ApocLC/subset-ApocLC-Light.woff2') format('woff2'),
  url('../fonts/ApocLC/subset-ApocLC-Light.woff') format('woff'),
  url('../fonts/ApocLC/subset-ApocLC-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apoc LC';
  src: url('../fonts/ApocLC/subset-ApocLC-Light_1.woff2') format('woff2'),
  url('../fonts/ApocLC/subset-ApocLC-Light_1.woff') format('woff'),
  url('../fonts/ApocLC/subset-ApocLC-Light_1.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apoc LC';
  src: url('../fonts/ApocLC/subset-ApocLC-LightItalic.woff2') format('woff2'),
  url('../fonts/ApocLC/subset-ApocLC-LightItalic.woff') format('woff'),
  url('../fonts/ApocLC/subset-ApocLC-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Apoc LC';
  src: url('../fonts/ApocLC/subset-ApocLC-Regular.woff2') format('woff2'),
  url('../fonts/ApocLC/subset-ApocLC-Regular.woff') format('woff'),
  url('../fonts/ApocLC/subset-ApocLC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apoc LC';
  src: url('../fonts/ApocLC/subset-ApocLC-UltraBold.woff2') format('woff2'),
  url('../fonts/ApocLC/subset-ApocLC-UltraBold.woff') format('woff'),
  url('../fonts/ApocLC/subset-ApocLC-UltraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apoc LC Revelations';
  src: url('../fonts/ApocLC/subset-ApocLC-RevelationsItalic.woff2') format('woff2'),
  url('../fonts/ApocLC/subset-ApocLC-RevelationsItalic.woff') format('woff'),
  url('../fonts/ApocLC/subset-ApocLC-RevelationsItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Apoc LC Revelations';
  src: url('../fonts/ApocLC/subset-ApocLC-Revelations.woff2') format('woff2'),
  url('../fonts/ApocLC/subset-ApocLC-Revelations.woff') format('woff'),
  url('../fonts/ApocLC/subset-ApocLC-Revelations.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apoc LC';
  src: url('../fonts/ApocLC/subset-ApocLC-BoldItalic.woff2') format('woff2'),
  url('../fonts/ApocLC/subset-ApocLC-BoldItalic.woff') format('woff'),
  url('../fonts/ApocLC/subset-ApocLC-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Apoc LC';
  src: url('../fonts/ApocLC/subset-ApocLC-Bold.woff2') format('woff2'),
  url('../fonts/ApocLC/subset-ApocLC-Bold.woff') format('woff'),
  url('../fonts/ApocLC/subset-ApocLC-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apoc Revelations';
  src: url('../fonts/ApocLC/subset-Apoc-Revelations.woff2') format('woff2'),
  url('../fonts/ApocLC/subset-Apoc-Revelations.woff') format('woff'),
  url('../fonts/ApocLC/subset-Apoc-Revelations.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apoc LC Hairline';
  src: url('../fonts/ApocLC/subset-ApocLC-Hairline.woff2') format('woff2'),
  url('../fonts/ApocLC/subset-ApocLC-Hairline.woff') format('woff'),
  url('../fonts/ApocLC/subset-ApocLC-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}



